.ui-dialog .findConstructor{
    width: 831px;
}

#idFind .findConstructor .finder_visatext td,
.findConstructor .finder_visatext td{    
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

#idFind .findConstructor .finder_visatext table,
.findConstructor .finder_visatext table{    
     border-collapse: collapse;
     margin-bottom: 5px;
}


#idFind .findConstructor,
.findConstructor{    
    color: black;
}

#idFind .findConstructor a,
.findConstructor a{    
    color: #0782c1;
    text-decoration: underline;
}

#idFind .findConstructor strong,
.findConstructor strong{        
    font-weight: bold;
}

#idFind .findConstructor ol, 
.findConstructor ol,
#idFind .findConstructor ul, 
.findConstructor ul{
    list-style: disc outside none;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

#idFind .findConstructor p, 
.findConstructor p{    
    margin: 1em 0;   
}

#idFind .findConstructor td, 
.findConstructor td
{
    vertical-align: middle;
}

#idFind .findConstructor button.finder_form_active,
.findConstructor button.finder_form_active{
    font-weight: bold;
}

#idFind div.findConstructor, 
#idFind div.findConstructor div,
#idFind div.findConstructor label,
#idFind div.findConstructor span,
#idFind div.findConstructor td,
div.findConstructor, 
div.findConstructor div,
div.findConstructor label,
div.findConstructor span,
div.findConstructor td{
    font-size: 12px/* !important*/;
    font-family: Verdana, Arial,​sans-serif /*!important*/;
}

div.findConstructor select,
#idFind div.findConstructor select{
    background-color: white;    
    color: black;   
    font-size: 12px/* !important*/;
    font-family: "Verdana", "Arial", "sans-serif";
    border-color: #DDDDDD;
    border-radius: 2px;
    border-width: 1px;
    border-style: groove;
    height: 23px;
    padding: 2px;
}

#idFind .findConstructor input[type="radio"],
.findConstructor input[type="radio"],
#idFind .findConstructor input[type="checkbox"],
.findConstructor input[type="checkbox"]
{
    width: 16px;
    height: 16px;
    margin:0;
    padding:0;
}

#idFind .findConstructor label,
.findConstructor label{    
    font-weight: normal;
}


#idFind .findConstructor button,
.findConstructor button{
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    font-family: "Verdana", "Arial", "sans-serif";
    background-color: #eee;
    height: 28px;    
    border: 1px solid #ccc;
    text-align: center;
    color: black;
    text-transform: uppercase;
    
}  

#idFind .findConstructor button span,
.findConstructor button span{
    width: 16px;
    height: 16px;
    display: block;
    float:left;  
    background-image: url("img/ui-icons_000000_256x240.png");
}


#idFind .findConstructor button:hover span,
.findConstructor button:hover span, 
#idFind .findConstructor button.active span,
.findConstructor button.active span{
    background-image: url("img/ui-icons_bbbbbb_256x240.png");
}

#idFind .findConstructor .cleaner,
.findConstructor .cleaner{
    clear: both;
}


/** -----------------------------  FINDER FORM -------------------------------- **/

#idFind .findConstructor .finder_form,
.findConstructor .finder_form{
    background-color: #F1F1F1;    
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 #AAAAAA;
    width:870px;
    margin: 10px auto 0px;   
} 


#idFind .findConstructor div.finder_form_search_type,
.findConstructor div.finder_form_search_type{    
    margin: 20px auto 4px; 
    width: 870px;
    text-align: center;
}

#idFind .findConstructor div.finder_form_search_type button,
.findConstructor div.finder_form_search_type button{    
    width: 159px; 
    height: 40px;
}

#idFind .findConstructor div.finder_form_search_type div.finder_form_label,
.findConstructor div.finder_form_search_type div.finder_form_label{        
    margin: 0px 9.37px;
}

#idFind .findConstructor div.finder_form_search_type div:first-of-type,
.findConstructor div.finder_form_search_type div:first-of-type{       
    margin-left: 0px;
}

#idFind .findConstructor div.finder_form_search_type div:last-of-type,
.findConstructor div.finder_form_search_type div:last-of-type{
    margin-right: 0px;
}

#idFind .findConstructor .finder_form_label, 
.findConstructor .finder_form_label,
#idFind .findConstructor .finder_form_control, 
.findConstructor .finder_form_control{
    float: left;
}

#idFind .findConstructor .finder_form_left, 
.findConstructor .finder_form_left{
    float: left;
}

#idFind .findConstructor .finder_form_right, 
.findConstructor .finder_form_right{
    float: right;
}

#idFind .findConstructor .finder_form_left .finder_form_label:first-of-type,
.findConstructor .finder_form_left .finder_form_label:first-of-type{
    width: 100px;
    padding-right: 7px;
}

#idFind .findConstructor .finder_form_top > div,
.findConstructor .finder_form_top > div,
#idFind .findConstructor .finder_form_bottom > div,
.findConstructor .finder_form_bottom > div{
    margin-bottom: 5px;
}

/** finder form top **/

#idFind .findConstructor .finder_form_top,
.findConstructor .finder_form_top{
    padding-top: 7px;
}

#idFind .findConstructor .finder_form_top select,
.findConstructor .finder_form_top select{
    width: 300px;
    height: 22px;
}

#idFind .findConstructor .finder_form_top .finder_form_left,
.findConstructor .finder_form_top .finder_form_left{
    width: 48%;
}

#idFind .findConstructor .finder_form_top .finder_form_right,
.findConstructor .finder_form_top .finder_form_right{
    width: 52%;
}

#idFind .findConstructor .finder_form_top .finder_form_label,
.findConstructor .finder_form_top .finder_form_label{
    text-align: right;
    padding-top: 3.5px;
}

#idFind .findConstructor .finder_form_top .finder_form_right .finder_form_label,
.findConstructor .finder_form_top .finder_form_right .finder_form_label{
    width: 125px;
    text-align: right;
    padding-right: 7px;
}

#idFind .findConstructor .finder_form_top .finder_form_departure div:last-of-type,
.findConstructor .finder_form_top .finder_form_departure div:last-of-type,
#idFind .findConstructor .finder_form_top .finder_form_arrival div:last-of-type,
.findConstructor .finder_form_top .finder_form_arrival div:last-of-type{
    margin-left: 4px;
}

#idFind .findConstructor .finder_form_top .finder_form_departure input,
.findConstructor .finder_form_top .finder_form_departure input,
#idFind .findConstructor .finder_form_top .finder_form_arrival input,
.findConstructor .finder_form_top .finder_form_arrival input,
#idFind .findConstructor .finder_form_top .finder_form_dates input,
.findConstructor .finder_form_top .finder_form_dates input{
    width: 90px;
    height: 14x;
    color: #3C3C3C;
    background-image: url("img/calendar.gif");
    background-repeat: no-repeat;
    background-position: 98% 1px;  
    text-align: left;    
    font-size: 12px/* !important*/;   
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #AAAAAA;
    padding: 3px 5px;    
    font-family: Verdana, Arial,​sans-serif;
    height: 14px;
    margin:0px;
}


#idFind .findConstructor .finder_form_top .finder_form_departure input,
.findConstructor .finder_form_top .finder_form_departure input,
#idFind .findConstructor .finder_form_top .finder_form_arrival input,
.findConstructor .finder_form_top .finder_form_arrival input{
    width: 90px;
}


#idFind .findConstructor .finder_form_top .finder_form_dates input,
.findConstructor .finder_form_top .finder_form_dates input{
    width: 130px;
}

#idFind .findConstructor .finder_form_top .finder_form_dates,
.findConstructor .finder_form_top .finder_form_dates{
    word-spacing:1px;
}


#idFind .findConstructor .finder_form_departure input:hover,
.findConstructor .finder_form_departure input:hover,
#idFind .findConstructor .finder_form_arrival input:hover,
.findConstructor .finder_form_arrival input:hover,
#idFind .findConstructor .finder_form_top .finder_form_dates input:hover,
.findConstructor .finder_form_top .finder_form_dates input:hover{
    background-position: 98% -24px;
}

#idFind .findConstructor .finder_form_top .finder_form_departure select,
.findConstructor .finder_form_top .finder_form_departure select, 
#idFind .findConstructor .finder_form_top .finder_form_arrival select,
.findConstructor .finder_form_top .finder_form_arrival select{
    width: 194px;
}
 


/** finder form bottom **/

#idFind .findConstructor .finder_form_bottom,
.findConstructor .finder_form_bottom{      
    border-left: 2px solid #f1f1f1;
    border-right: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
    border-radius: 2px;
}

#idFind .findConstructor .finder_form_bottom select,
.findConstructor .finder_form_bottom select{  
    height: 21px;
}

#idFind .findConstructor .finder_form_bottom div.finder_form_left,
.findConstructor .finder_form_bottom div.finder_form_left{
    width: 575px;        
}

#idFind .findConstructor .finder_form_bottom div.finder_form_left:first-of-type div.finder_form_label,
.findConstructor .finder_form_bottom div.finder_form_left:first-of-type div.finder_form_label{
    padding-top: 0px;
}

#idFind .findConstructor .finder_form_bottom div.finder_form_left div.finder_form_label,
.findConstructor .finder_form_bottom div.finder_form_left div.finder_form_label{
    padding-top: 3px;
}

#idFind .findConstructor .finder_form_bottom div.finder_form_right,
.findConstructor .finder_form_bottom div.finder_form_right{
    width: 235px;     
    margin-right: 20px;
}

#idFind .findConstructor .finder_form_bottom div.finder_form_right div.finder_form_label,
.findConstructor .finder_form_bottom div.finder_form_right div.finder_form_label{
    padding-left: 5px;
}

#idFind .findConstructor .finder_form_bottom .finder_form_left .finder_form_label:first-of-type,
.findConstructor .finder_form_bottom .finder_form_left .finder_form_label:first-of-type{
    width: 100px;
    text-align: right;
    padding-right: 7px;  
}

#idFind .findConstructor .finder_form_bottom .finder_form_flight_class .finder_form_label,
.findConstructor .finder_form_bottom .finder_form_flight_class .finder_form_label{
    margin-left: 3px;
    margin-right: 7px;
}

#idFind .findConstructor .finder_form_bottom .finder_form_flight_class div:first-of-type,
.findConstructor .finder_form_bottom .finder_form_flight_class div:first-of-type{
    margin-left: 0px;
    margin-right: 0px;
}

#idFind .findConstructor .finder_form_bottom .finder_form_people .finder_form_label,
.findConstructor .finder_form_bottom .finder_form_people .finder_form_label{
    text-align: right;
}

#idFind .findConstructor .finder_form_bottom .finder_form_people .finder_form_label.finder_form_children,
.findConstructor .finder_form_bottom .finder_form_people .finder_form_label.finder_form_children{
    padding-right: 7px;
    width: 45px;
}

#idFind .findConstructor .finder_form_bottom .finder_form_people .finder_form_label.finder_form_ages,
.findConstructor .finder_form_bottom .finder_form_people .finder_form_label.finder_form_ages{
    padding-right: 7px;
    width: 95px;
}

#idFind .findConstructor .finder_form_bottom .finder_form_people button,
.findConstructor .finder_form_bottom .finder_form_people button{
    width: 87px;
    height: 21px;
    margin-left: 5px;
    background-color: white;
}
#idFind .findConstructor .finder_form_bottom .finder_form_people button span,
.findConstructor .finder_form_bottom .finder_form_people button span{
    margin-top: -1px;
}

#idFind .findConstructor .finder_form_bottom .finder_form_people button.finder_form_people_add_disabled,
.findConstructor .finder_form_bottom .finder_form_people button.finder_form_people_add_disabled{
    color: black;
    background-color: #ddd;
    border: 1px solid #aaa;
    opacity: 0.35;
}

#idFind .findConstructor .finder_form_bottom .finder_form_people button.finder_form_people_add_disabled span,
.findConstructor .finder_form_bottom .finder_form_people button.finder_form_people_add_disabled span{
    background-image: url("img/ui-icons_bbbbbb_256x240.png");
    background-position: 0px -192px;
}    

#idFind .findConstructor .finder_form_bottom .finder_form_people button.finder_form_people_add span,
.findConstructor .finder_form_bottom .finder_form_people button.finder_form_people_add span{
    background-position: 0px -192px;   
}

#idFind .findConstructor .finder_form_bottom .finder_form_people button.finder_form_people_remove span,
.findConstructor .finder_form_bottom .finder_form_people button.finder_form_people_remove span{
    background-position: -16px -192px;
} 

#idFind .findConstructor .finder_form_bottom .finder_form_visa a,
.findConstructor .finder_form_bottom .finder_form_visa a{
    text-decoration: none;
    border-bottom: 1px silver dashed;
}

#idFind .findConstructor .finder_form_bottom .finder_form_visa a.disabled,
.findConstructor .finder_form_bottom .finder_form_visa a.disabled{
    opacity: 0.35;
    border-bottom: none;
    cursor: default;
}

#idFind .findConstructor .finder_form_submit,
.findConstructor .finder_form_submit{    
    text-align: right;
    margin: 10px auto 20px;
    width: 870px;
}

#idFind .findConstructor .finder_form_submit button,
.findConstructor .finder_form_submit button{
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    background-color: #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: inline-block;
    color: #000;
    height: 40px;
    font-family: Verdana,Arial,Sans Serif;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    width: 103px;
}
/** ------------------------------ END OF FORM -------------------------------------- **/
#idFind .findConstructor .finder_spo_doc,
.findConstructor .finder_spo_doc{
    text-align: center;
}

#idFind .findConstructor div.write_a_letter,
.findConstructor div.write_a_letter{
    margin:10px 10px 5px 0px; 
    float:right;
    font-size:10px !important;
    font-family:'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

#idFind .findConstructor .rates span.sign,
.findConstructor .rates span.sign{
    color: #900;
    font-weight: bold;
}

#idFind .findConstructor  .finder_form_constructor .finder_form_left.rates,
.findConstructor  .finder_form_constructor .finder_form_left.rates{
    margin-top: 7px;
}

#idFind .findConstructor  .finder_form_spo .finder_form_left.rates,
.findConstructor  .finder_form_spo .finder_form_left.rates{
    margin-top: 7px;
}

#idFind .findConstructor  .finder_form_constructor .finder_form_left.rates,
.findConstructor  .finder_form_constructor .finder_form_left.rates{
    margin-left: 7px;
}

#idFind .findConstructor  .finder_form_spo .finder_form_left.rates,
.findConstructor  .finder_form_spo .finder_form_left.rates{
    margin-left: 17px;
}

#idFind .findConstructor  .finder_form_visas .finder_form_left.rates,
.findConstructor  .finder_form_visas .finder_form_left.rates{
    margin-left: 15px;
    margin-top: 4px;
}


#idFind .findConstructor .finder_form_top > div.cleaner, 
.findConstructor .finder_form_top > div.cleaner, 
#idFind .findConstructor .finder_form_bottom > div.cleaner, 
.findConstructor .finder_form_bottom div.cleaner{
    margin: 0px;
}

#idFind .findConstructor .finder_form_spocurrency select,
.findConstructor .finder_form_spocurrency select{
    width: 140px;
}


/** ----------------------------- SPO ORDER FORM ---------------------------------- **/

#idFind .findConstructor .finder_spo_details_left,
.findConstructor .finder_spo_details_left{
    float: left;
    width: 470px;
}

#idFind .findConstructor .finder_spo_tourist_data,
.findConstructor .finder_spo_tourist_data{
    display: block;
}

#idFind .findConstructor .finder_spo_tourist_data select,
.findConstructor .finder_spo_tourist_data select,
#idFind .findConstructor .finder_spo_details select,
.findConstructor .finder_spo_details select
{
    height: 21px;
}

#idFind .findConstructor .finder_spo_details_left > div,
.findConstructor .finder_spo_details_left > div{
    padding: 5px;
}

#idFind .findConstructor .finder_spo_details_right,
.findConstructor .finder_spo_details_right{
    float: left;
    width: 325px;
}

#idFind .findConstructor .finder_spo_details_right .finder_spo_details_control,
.findConstructor .finder_spo_details_right .finder_spo_details_control,
#idFind .findConstructor .finder_spo_details_right .finder_spo_details_label,
.findConstructor .finder_spo_details_right .finder_spo_details_label
{
    padding: 5px;
    float: left;    
}

#idFind .findConstructor .finder_spo_details_comment .finder_spo_details_label,
.findConstructor .finder_spo_details_comment .finder_spo_details_label,
#idFind .findConstructor .finder_spo_details_comment .finder_spo_details_control,
.findConstructor .finder_spo_details_comment .finder_spo_details_control{
    float: left;
}

#idFind .findConstructor .finder_spo_details_comment .finder_spo_details_label,
.findConstructor .finder_spo_details_comment .finder_spo_details_label{
    margin-right: 10px;
}

#idFind .findConstructor .finder_spo_details_right .finder_spo_details_label,
.findConstructor .finder_spo_details_right .finder_spo_details_label{
    width: 115px;
}

#idFind .findConstructor .finder_spo_details_right .finder_spo_details_departure .finder_spo_details_control input,
.findConstructor .finder_spo_details_right .finder_spo_details_departure .finder_spo_details_control input {
    width: 65px;
}

#idFind .findConstructor .finder_spo_details_right .finder_spo_details_control input,
.findConstructor .finder_spo_details_right .finder_spo_details_control input,
#idFind .findConstructor .finder_spo_details_right .finder_spo_details_control textarea,
.findConstructor .finder_spo_details_right .finder_spo_details_control textarea{
    width: 170px;
}

#idFind .findConstructor .finder_spo_details_right .finder_spo_details_control select,
.findConstructor .finder_spo_details_right .finder_spo_details_control select{
    width: 175px;
}

#idFind .findConstructor .finder_spo_tourist_data > div,
.findConstructor .finder_spo_tourist_data > div{
    float: left;
}

#idFind .findConstructor .finder_spo_tourist_data > div,
.findConstructor .finder_spo_tourist_data > div{
    padding: 5px;
}

#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_fio_latin,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_fio_latin,
#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_fio_cyrillic,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_fio_cyrillic{
    width: 160px;
}

#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_fio_latin input,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_fio_latin input,
#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_fio_cyrillic input,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_fio_cyrillic input{
    width: 140px;
    text-transform: uppercase;
}

#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_gender,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_gender{
    width: 90px;
}

#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_birth,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_birth{
    width: 120px;
}

#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_passport_expire,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_passport_expire{
    width: 105px;
    padding-right: 0px;
}

#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_birth input,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_birth input,
#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_passport_expire input,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_passport_expire input{
    width: 100px;
}

#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_passport,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_passport{
    width: 130px;
}

#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_passport input:first-of-type,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_passport input:first-of-type{
    width: 30px;
}

#idFind .findConstructor .finder_spo_tourist_data .finder_spo_tourist_passport input:last-of-type,
.findConstructor .finder_spo_tourist_data .finder_spo_tourist_passport input:last-of-type{
    width: 70px;
}

#idFind .findConstructor .finder_spo_tourist_add,
.findConstructor .finder_spo_tourist_add{
    float: right;
}

#idFind .findConstructor .finder_spo_tourist_birth input,
.findConstructor .finder_spo_tourist_birth input,
#idFind .findConstructor .finder_spo_tourist_passport_expire input,
.findConstructor .finder_spo_tourist_passport_expire input
{
    width: 70px;
}

#idFind .findConstructor .finder_spo_order_submit,
.findConstructor .finder_spo_order_submit{
    float: right;
    margin-top: 15px;
}

#idFind .findConstructor .finder_spo_list tfoot td,
.findConstructor .finder_spo_list tfoot td{
    text-align: center;
    width: inherit;
}

#idFind .findConstructor .finder_spo_list td,
.findConstructor .finder_spo_list td{
    padding: 10px;
    border: 1px solid black;
}

#idFind .findConstructor .finder_spo_list th,
.findConstructor .finder_spo_list th{
    padding-bottom: 10px;
}

#idFind .findConstructor .finder_spo_list,
.findConstructor .finder_spo_list{
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

#idFind .findConstructor .finder_spo_list td.spo_price,
.findConstructor .finder_spo_list td.spo_price{
    width: 80px;    
}

#idFind .findConstructor .finder_spo_list tr.odd td,
.findConstructor .finder_spo_list tr.odd td{
    background-color: #f0f0f0;
}

/** ------------------------------------- END OF SPO ORDER FORM ------------------------------------------ **/

#idFind .findConstructor .finder_results,
.findConstructor .finder_results{
    width: 866px;
    margin: 0 auto;    
} 

#idFind .findConstructor .finder_result_item button,
.findConstructor .finder_result_item button,
#idFind .findConstructor .finder_flights_item button,
.findConstructor .finder_flights_item button{
    background: -moz-linear-gradient(center top , #06AB00 5%, #4ED646 100%) repeat scroll 0 0 #06AB00;
    background: -webkit-gradient( linear, center top, center bottom, color-stop(0.05, #06AB00), color-stop(1, #4ED646) );
    border-radius: 5px;
    color: white;
    border: none;
} 


#idFind .findConstructor .finder_result_item button:hover,
.findConstructor .finder_result_item button:hover,
#idFind .findConstructor .finder_flights_item button:hover,
.findConstructor .finder_flights_item button:hover{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4ed646), color-stop(1, #06ab00) );
    background: -moz-linear-gradient( center top, #4ed646 5%, #06ab00 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ed646', endColorstr='#06ab00');
    background-color: #4ed646;
}

#idFind .findConstructor .selected_flight thead tr:first-of-type td,
.findConstructor .selected_flight thead tr:first-of-type td{
    color: black;
}

#idFind .findConstructor .selected_flight td,
.findConstructor .selected_flight td{
    color: #444;
}

#idFind .findConstructor div.flight_details,
.findConstructor div.flight_details{
    background-color: white;
    float:left;
    box-shadow: inset 0 0 5px rgba(0,0,0,1);
    border-radius: 2px;
} 

#idFind .findConstructor div.flight_details table.finder_flight_data,
.findConstructor div.flight_details table.finder_flight_data{
    margin: 12px;
    border: 1px solid #aaa;
    border-spacing: 0px;
    border-collapse: collapse;
}

#idFind .findConstructor div.flight_details table.finder_flight_data tr.finder_flights_item_data:nth-child(odd),
.findConstructor div.flight_details table.finder_flight_data tr.finder_flights_item_data:nth-child(odd){
    background-color: #F0F0F0;
}

#idFind .findConstructor div.flight_details table.finder_flight_data tr.finder_flights_item_data:nth-child(even),
.findConstructor div.flight_details table.finder_flight_data tr.finder_flights_item_data:nth-child(even){
    background-color: #FBFBFB;
}

#idFind .findConstructor .finder_orderform div.flight_details,
.findConstructor .finder_orderform div.flight_details{
    margin-top: 5px;
}

#idFind .findConstructor div.flight_details table.finder_flight_data td,
.findConstructor div.flight_details table.finder_flight_data td{
    padding: 5px;
    border: 1px solid #ddd;
}

#idFind .findConstructor .selected_flight td div.selected_flight_data,
.findConstructor .selected_flight td div.selected_flight_data{
    width: 200px;
    float: right;
    text-align: right;
}

#idFind .findConstructor .selected_flight td div.selected_flight_data span,
.findConstructor .selected_flight td div.selected_flight_data span{
    color: black;
    width: 72px;
    display: block;
    float: right;
}

#idFind .findConstructor .selected_flight td div.selected_flight_data span span,
.findConstructor .selected_flight td div.selected_flight_data span span{
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("img/ui-icons_ffffff_256x240.png");
    background-position: -64px -144px;
    float:left;
}

#idFind .findConstructor .finder_loader img,
.findConstructor .finder_loader img, 
#idFind .findConstructor .finder_loader .finder_loader_counter,
.findConstructor .finder_loader .finder_loader_counter{
    float: left;
}

#idFind .findConstructor .finder_loader img,
.findConstructor .finder_loader img{
    margin-top: 5px;
    margin-left: 315px;
}

#idFind .findConstructor .finder_orderform .finder_loader img,
.findConstructor .finder_orderform .finder_loader img{   
    margin-left: 275px;
}

#idFind .findConstructor .finder_loader .finder_loader_counter,
.findConstructor .finder_loader .finder_loader_counter{
    border: 4px solid #bbb;
    border-radius: 20px;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    color: white;
    text-align: center;
    background-color: #bbb;
}

#idFind .findConstructor.finder_search,
.findConstructor.finder_search, 
#idFind .findConstructor .finder_loader,
.findConstructor .finder_loader{
    margin-top: 20px;
}

#idFind .findConstructor .finder_loader div:first-child,
.findConstructor .finder_loader div:first-child{
    text-align: center;
    width: 360px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#idFind .findConstructor .finder_about .finder_new_search,
.findConstructor .finder_about .finder_new_search{
    text-align: center;
    margin-bottom: 4px;
    margin-top: 8px;
}

#idFind .findConstructor .finder_about .finder_new_search span,
.findConstructor .finder_about .finder_new_search span{
    background-position: 0 -64px;
}

#idFind .findConstructor .finder_about,
.findConstructor .finder_about, 
#idFind .findConstructor .finder_filter,
.findConstructor .finder_filter{
/*    float: left;*/
    width: 146px;
    border-radius: 3px;
}   


#idFind .findConstructor .finder_filter_item,
.findConstructor .finder_filter_item{
    color: black;
/*    margin: 5px 5px 5px 5px;*/
    text-align: center;
    padding-top:5px;
}

#idFind .findConstructor .finder_filter_stars_label,
.findConstructor .finder_filter_stars_label, 
#idFind .findConstructor .finder_filter_meal_label,
.findConstructor .finder_filter_meal_label{
/*    margin: 2px 0px 2px 10px;*/
    padding: 5px;
    text-align: center;
}

#idFind .findConstructor .finder_about_label,
.findConstructor .finder_about_label, 
#idFind .findConstructor .finder_filter_label,
.findConstructor .finder_filter_label{
    background-color: #F0F0F0;
    color: black;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
}

#idFind .findConstructor .finder_about_data,
.findConstructor .finder_about_data{
    padding: 5px 10px;
    border: 1px solid #eee;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #F0F0F0;
    border-radius: 3px;
    border: 1px solid #aaa;
}

#idFind .findConstructor .finder_filter input[type="text"],
.findConstructor .finder_filter input[type="text"]{
    width: 131px;
}    

#idFind .findConstructor .finder_assortment,
.findConstructor .finder_assortment, 
#idFind .findConstructor .finder_flights_select,
.findConstructor .finder_flights_select{
    background-color: #F0F0F0;
    color: black;
    padding: 6px  !important;
    border: 1px solid #aaa;
    border-radius: 3px;
    vertical-align: middle;
}

#idFind .findConstructor .finder_assortment_label,
.findConstructor .finder_assortment_label{
    float:left;
    width: 25%;
    margin-left: 7px;
}

#idFind .findConstructor .finder_assortment_sorting,
.findConstructor .finder_assortment_sorting, 
#idFind .findConstructor .finder_assortment_filter,
.findConstructor .finder_assortment_filter{
    float: right;
    width: 70%;
}

#idFind .findConstructor .finder_assortment_filter div,
.findConstructor .finder_assortment_filter div{
    float: right;
    padding-right: 2px;
}    

#idFind .findConstructor .finder_assortment_filter_letters div,
.findConstructor .finder_assortment_filter_letters div{
    margin: 0 2px;
}

#idFind .findConstructor .finder_assortment_sorting div,
.findConstructor .finder_assortment_sorting div{
    float: right;
}

#idFind .findConstructor .finder_assortment_label,
.findConstructor .finder_assortment_label, 
#idFind .findConstructor .finder_flights_select_label,
.findConstructor .finder_flights_select_label{
    font-size: 12px !important;
    font-weight: bold  !important;
    margin-top: 7px;
}   

#idFind .findConstructor .finder_assortment_sorting_label,
.findConstructor .finder_assortment_sorting_label, 
#idFind .findConstructor .finder_assortment_sorting_options,
.findConstructor .finder_assortment_sorting_options, 
#idFind .findConstructor .finder_assortment_sorting_options div,
.findConstructor .finder_assortment_sorting_options div{
    float: left;
}

#idFind .findConstructor .finder_assortment_sorting_options div, 
.findConstructor .finder_assortment_sorting_options div, 
#idFind .findConstructor .finder_assortment_filter_letters div,
.findConstructor .finder_assortment_filter_letters div{
    cursor: pointer;
}

#idFind .findConstructor .finder_assortment_sorting_options .active,
.findConstructor .finder_assortment_sorting_options .active, 
#idFind .findConstructor .finder_assortment_filter_letters div.active,
.findConstructor .finder_assortment_filter_letters div.active{
    font-weight: bold;
} 

#idFind .findConstructor .finder_assortment_sorting_options div:hover,
.findConstructor .finder_assortment_sorting_options div:hover,
#idFind .findConstructor .finder_assortment_filter_letters div:hover,
.findConstructor .finder_assortment_filter_letters div:hover{
    text-decoration: underline;
}

#idFind .findConstructor .finder_assortment_sorting_options span,
.findConstructor .finder_assortment_sorting_options span{
    background-image: url('img/ui-icons_ffffff_256x240.png');
    background-position: -128px -16px;
    height: 16px;
    width: 16px;
    display: block;
    float: right;
} 

#idFind .findConstructor .finder_assortment_sorting_options div div, 
.findConstructor .finder_assortment_sorting_options div div{
    float: left;
}

#idFind .findConstructor .finder_assortment_sorting_options .active span,
.findConstructor .finder_assortment_sorting_options .active span{
    background-position: 0 -48px;
}

#idFind .findConstructor .finder_assortment_sorting_options .active span.reverse,
.findConstructor .finder_assortment_sorting_options .active span.reverse{
    background-position: -64px -48px;
}

#idFind .findConstructor .finder_assortment_filter_letters div,
.findConstructor .finder_assortment_filter_letters div{
    float: left;
}


#idFind .findConstructor .finder_flights_select_label,
.findConstructor .finder_flights_select_label{
    float:left;
    width: 50%;
}

#idFind .findConstructor .finder_flights_select_cancel,
.findConstructor .finder_flights_select_cancel{
    float: right;
}

#idFind .findConstructor .finder_flights_item,
.findConstructor .finder_flights_item{
    border: 1px solid #aaa;
    margin-top: 3px;
}

#idFind .findConstructor .finder_flights_item table,
.findConstructor .finder_flights_item table{
    border-spacing: 0px;
    padding: 0px;
    border: none;
    width: 703px;
}

#idFind .findConstructor .finder_flights_item td,
.findConstructor .finder_flights_item td{
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding: 5px;
}

#idFind .findConstructor .finder_flights_item table thead tr:first-of-type td,
.findConstructor .finder_flights_item table thead tr:first-of-type td{
    border-top: none;
}

#idFind .findConstructor .finder_flights_item tr.finder_flights_item_data:nth-child(even) td,
.findConstructor .finder_flights_item tr.finder_flights_item_data:nth-child(even) td{
   background-color: #F0F0F0;
}

#idFind .findConstructor .finder_flights_item tr.finder_flights_item_data:nth-child(odd) td,
.findConstructor .finder_flights_item tr.finder_flights_item_data:nth-child(odd) td{
   background-color: #FBFBFB;
}

#idFind .findConstructor .finder_flights_item tr.finder_flights_item_data:last-of-type td,
.findConstructor .finder_flights_item tr.finder_flights_item_data:last-of-type td{
    border-bottom: 1px solid #aaa;
}

#idFind .findConstructor .finder_flights_item tr td:first-of-type,
.findConstructor .finder_flights_item tr td:first-of-type{    
    border-left: none;
}

#idFind .findConstructor .finder_list,
.findConstructor .finder_list{
    float: right;
    width: 715px;   
}

#idFind .findConstructor .finder_result_item,
.findConstructor .finder_result_item{
    border: 1px solid #ddd;
    margin-top:3px;
} 

#idFind .findConstructor .finder_result_item .finder_hotel_data,
.findConstructor .finder_result_item .finder_hotel_data{
    margin: 7px 0 7px 7px;
    height:105px;
} 

#idFind .findConstructor .finder_result_item .finder_hotel_price,
.findConstructor .finder_result_item .finder_hotel_price{
    width: 120px;  
    text-align: center;
    margin-bottom: 15px;
} 

#idFind .findConstructor .finder_result_item .finder_hotel_price .finder_hotel_price_plus,
.findConstructor .finder_result_item .finder_hotel_price .finder_hotel_price_plus, 
#idFind .findConstructor .finder_result_item .finder_hotel_price .finder_hotel_sum span,
.findConstructor .finder_result_item .finder_hotel_price .finder_hotel_sum span{
    color: black;
    font-weight: bold;
    font-size: 15px !important;
} 

#idFind .findConstructor .finder_result_item .finder_hotel_price .finder_hotel_sum,
.findConstructor .finder_result_item .finder_hotel_price .finder_hotel_sum{
    margin-top: 10px;
    margin-bottom: 10px;
}

#idFind .findConstructor .finder_order button span,
.findConstructor .finder_order button span{
    background-position: -48px -112px;
}

#idFind .findConstructor .finder_change_flight button span,
.findConstructor .finder_change_flight button span{
    background-position: 0 -64px;
}

#idFind .findConstructor .finder_flight_data button span,
.findConstructor .finder_flight_data button span{
    background-position: -80px -112px;
}

#idFind .findConstructor .finder_flight_data,
.findConstructor .finder_flight_data, 
#idFind .findConstructor .finder_change_flight,
.findConstructor .finder_change_flight{
    float: right;
    margin: 7px;
}

#idFind .findConstructor .finder_result_item .finder_flight,
.findConstructor .finder_result_item .finder_flight{
    width: 585px;
    border: 1px solid #ddd;
    margin: 0 0 7px 7px;
} 

#idFind .findConstructor .finder_result_item .finder_flight .finder_flight_logo,
.findConstructor .finder_result_item .finder_flight .finder_flight_logo{
    width: 110px;
    color: #F0F0F0;
    font-size: 15px !important;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}

#idFind .findConstructor .finder_result_item .finder_flight .finder_flight_direction,
.findConstructor .finder_result_item .finder_flight .finder_flight_direction{
    padding-top: 10px;
    padding-right: 10px;
}

#idFind .findConstructor .finder_result_item .finder_hotel_rooms,
.findConstructor .finder_result_item .finder_hotel_rooms{
    clear: both;  
    width: 714px;
    border-spacing: 0px;
    padding: 0px;
} 

#idFind .findConstructor .finder_result_item .finder_hotel_rooms tr:nth-child(even) td,
.findConstructor .finder_result_item .finder_hotel_rooms tr:nth-child(even) td{
   background-color: #F0F0F0;
}

#idFind .findConstructor .finder_result_item .finder_hotel_rooms td,
.findConstructor .finder_result_item .finder_hotel_rooms td, 
#idFind .findConstructor .finder_result_item .finder_hotel_rooms tr.finder_hotel_rooms_title td,
.findConstructor .finder_result_item .finder_hotel_rooms tr.finder_hotel_rooms_title td{
   border-top:1px solid #ddd;
   border-right: 1px solid #ddd;
   padding: 5px;
   background: none;
}

#idFind .findConstructor .finder_result_item .finder_hotel_rooms .finder_hotel_room_meal,
.findConstructor .finder_result_item .finder_hotel_rooms .finder_hotel_room_meal{
   width: 210px;
}

#idFind .findConstructor .finder_result_item .finder_hotel_rooms .finder_hotel_room_appartment,
.findConstructor .finder_result_item .finder_hotel_rooms .finder_hotel_room_appartment{
   width: 344px;
}

#idFind .findConstructor .finder_result_item .finder_hotel_rooms .finder_hotel_room_available,
.findConstructor .finder_result_item .finder_hotel_rooms .finder_hotel_room_available{
   width: 137px;
}

#idFind .findConstructor .finder_result_item .finder_hotel_rooms tr td:last-of-type,
.findConstructor .finder_result_item .finder_hotel_rooms tr td:last-of-type{
   border-right: none;
   text-align: center;
}


#idFind .findConstructor .finder_flight_direction .finder_flight_date,
.findConstructor .finder_flight_direction .finder_flight_date{
    float:left;
    font-weight:bold;
}

#idFind .findConstructor .finder_flight_direction .finder_flight_points,
.findConstructor .finder_flight_direction .finder_flight_points{
}

#idFind .findConstructor .finder_flight_direction .finder_flight_connect,
.findConstructor .finder_flight_direction .finder_flight_connect{
    margin-left: 71px;
}

#idFind .findConstructor .finder_flight_direction .finder_flight_points,
.findConstructor .finder_flight_direction .finder_flight_points{
    padding: 0px;
}

#idFind .findConstructor .finder_hotel_photo,
.findConstructor .finder_hotel_photo{
    float: left;
    position: relative;
    width: 200px;
}

#idFind .findConstructor .finder_hotel_name,
.findConstructor .finder_hotel_name{
    color: #888;
    font-size: 15px !important;
    font-weight: bold;
}

#idFind .findConstructor .finder_hotel_address,
.findConstructor .finder_hotel_address{
    color: #AAAAAA; 
    font-size: 11px;
    margin-left: 10px;
}

#idFind .findConstructor .finder_hotel_phone,
.findConstructor .finder_hotel_phone{
    color: #AAAAAA; 
    font-size: 11px;
}

#idFind .findConstructor .left carousel-control,
.findConstructor .left carousel-control{
    background: none;    
}

#idFind .findConstructor .right carousel-control,
.findConstructor .right carousel-control{
    background: none;    
}

#idFind .findConstructor .carousel-indicators,
.findConstructor .carousel-indicators{
    display: none;
}

#idFind .findConstructor .finder_hotels_delimiter,
.findConstructor .finder_hotels_delimiter{
    color: #F0F0F0;
    border: 1px solid #F0F0F0;
    border-radius: 1px;
}


#idFind .findConstructor .finder_pager a,
.findConstructor .finder_pager a{
    color:#fff;
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding:3px 5px;
    margin: 2px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

#idFind .findConstructor .finder_pager td.current,
.findConstructor .finder_pager td.current{
    border: none;
    color:#fff;
    background-color:#d81910;
    font-weight:bold;
    border-radius: 3px;
    margin: 2px;
    padding: 3px 5px;    
}

#idFind .findConstructor .finder_filter_submit button span,
.findConstructor .finder_filter_submit button span{
    background-position: -160px -112px;
}

#idFind .findConstructor .finder_filter_stars_data,
.findConstructor .finder_filter_stars_data, 
#idFind .findConstructor .finder_filter_meal_data,
.findConstructor .finder_filter_meal_data{
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 7px;
    margin: 0 5px;
}

#idFind .findConstructor table.finder_flight_data,
.findConstructor table.finder_flight_data{
    background-color: white !important;
    color: black !important;
}

#idFind .findConstructor.finder_list finder_order,
.findConstructor.finder_list finder_order{
    margin: 0;
}

#idFind .findConstructor table.finder_orderform,
.findConstructor table.finder_orderform{
    background-color: #F0F0F0;
    color: #666;
}

#idFind .findConstructor table.finder_orderform .orange,
.findConstructor table.finder_orderform .orange{
    color: black;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons td,
.findConstructor table.finder_orderform .finder_order_persons td{
    height: 20px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_number,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_number{
    width: 11px;
    padding-right: 8px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_lastname,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_lastname{
    width: 95px;
    padding-right: 8px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_lastname input,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_lastname input{
    width: 95px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_firstname,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_firstname{
    width: 95px;
    padding-right: 8px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_firstname input,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_firstname input{
    width: 95px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_lastname input[type="text"],
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_lastname input[type="text"],
#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_firstname input[type="text"],
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_firstname input[type="text"]{
    text-transform: uppercase;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_sex,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_sex{
    width: 78px;
    padding-right: 8px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_sex select,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_sex select{
    width: 78px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_birth,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_birth{
    width: 82px;
    padding-right: 8px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_birth input,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_birth input{
    width: 82px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_passport,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_passport{
    width: 95px;
    padding-right: 8px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_passport input,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_passport input{
    width: 95px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_passport_date,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_passport_date{
    width: 82px;
    padding-right: 8px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_passport_date input,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_passport_date input{
    width: 82px;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_insurance,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_insurance{
    padding-right: 8px;
/*    width: 33px;*/
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa{
/*    width: 135px;*/
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa input,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa input{
    padding-right: 8px;
/*    margin-top: 5px;    
    margin-right: 5px;*/
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa input,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa input,
#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa select,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa select{
/*    dispalay: block;*/
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa input,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa input{
/*    float: left;*/
}

#idFind .findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa select,
.findConstructor table.finder_orderform .finder_order_persons .finder_order_person_visa select{
    width:100%;
    height: 22px;
/*    float: right;*/
}

#idFind .findConstructor table.finder_orderform .finder_order_summary,
.findConstructor table.finder_orderform .finder_order_summary{
    color:black;
    margin-right: 7px;
    text-align: right;
}

#idFind .findConstructor table.finder_orderform .finder_order_persons,
.findConstructor table.finder_orderform .finder_order_persons{
    margin:0;
    width: 825px;
    border-spacing: 0px;
    padding: 0px;
}

#idFind .findConstructor table.finder_orderform .finder_order_sender input,
.findConstructor table.finder_orderform .finder_order_sender input{
    width: 115px;
}

#idFind .findConstructor table.finder_orderform .finder_order_summary span,
.findConstructor table.finder_orderform .finder_order_summary span{
    font-size:20px;
}

#idFind .findConstructor table.finder_orderform .finder_order_bonuscard input,
.findConstructor table.finder_orderform .finder_order_bonuscard input{
    width:170px;
}

#idFind .findConstructor table.finder_orderform .finder_order_cancellation > div,
.findConstructor table.finder_orderform .finder_order_cancellation > div{
    line-height:18px;
    padding:5px;
    background:white; 
    color:black; 
    margin:5px 0px -10px 0px;
    width: 810px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}    


#idFind .findConstructor table.finder_orderform .finder_order_comment label,
.findConstructor table.finder_orderform .finder_order_comment label{
    display: block;
}

#idFind .findConstructor table.finder_orderform .finder_order_comment textarea,
.findConstructor table.finder_orderform .finder_order_comment textarea{
    height:60px;
    width: 819px;
}

#idFind .findConstructor table.finder_orderform .finder_order_submit div div, 
.findConstructor table.finder_orderform .finder_order_submit div div{
    margin: 15px 7px 0px;
}

#idFind .findConstructor table.finder_orderform .finder_order_submit button, 
.findConstructor table.finder_orderform .finder_order_submit button{
    margin-top: 8px;
}

#idFind .findConstructor table.finder_orderform button.finder_order_submit_ort, 
.findConstructor table.finder_orderform button.finder_order_submit_ort{
    background: -moz-linear-gradient(center top , #06AB00 5%, #4ED646 100%) repeat scroll 0 0 #06AB00;
}

#idFind .findConstructor table.finder_orderform button.finder_order_submit_client:first-of-type, 
.findConstructor table.finder_orderform button.finder_order_submit_client:first-of-type{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(51, 102, 187)), to(rgb(51, 102, 187)));
    background-color: rgb(51, 102, 187);    
}

#idFind .findConstructor table.finder_orderform button.finder_order_submit_client:last-of-type, 
.findConstructor table.finder_orderform button.finder_order_submit_client:last-of-type{
    background-color: #DE3F39;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(222, 63, 57)), to(rgb(216, 25, 16)));
}

#idFind .findConstructor table.finder_orderform .finder_order_loader div.finder_loader,
.findConstructor table.finder_orderform .finder_order_loader div.finder_loader{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width:815px;
}

#idFind .findConstructor table.finder_orderform .finder_order_loader div.finder_loader div:first-of-type,
.findConstructor table.finder_orderform .finder_order_loader div.finder_loader div:first-of-type{
    color: black;
}    

#idFind .findConstructor .finder_result_item .finder_hotel_rooms tr td.finder_form_show_more,
.findConstructor .finder_result_item .finder_hotel_rooms tr td.finder_form_show_more{
    text-align: right;
    background-color: #F0F0F0;
    padding-right: 15px;
}

#idFind .findConstructor .finder_flights_item div.finder_form_show_more,
.findConstructor .finder_flights_item div.finder_form_show_more{
    text-align: right;
    background-color: #F0F0F0;
    padding: 5px;
/*    border-top: 1px solid #aaa;  */
    vertical-align: middle;
}

#idFind .findConstructor .finder_filter_submit,
.findConstructor .finder_filter_submit{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

#idFind .findConstructor .finder_filter_currency,
.findConstructor .finder_filter_currency{
    text-align: center;
    padding: 10px 0 0 0;
}

#idFind .findConstructor .finder_filter_currency label,
.findConstructor .finder_filter_currency label{
    margin-top: 7px;
    display: block;
    float: left;
    margin-left: 10px;
}

#idFind .findConstructor .finder_filter_currency select,
.findConstructor .finder_filter_currency select{
    border-radius: 2px;
    color: black;
    border: 1px solid #ddd;
    margin: 3px 0px 10px 0px;
}

#idFind .findConstructor div.finder_office_order_select_office,
.findConstructor div.finder_office_order_select_office{
    background-color: white;
    border: 2px solid white;
    border-radius: 2px;
    color: black;
    height: 249px;
}

#idFind .findConstructor div.finder_office_order_select_city,
.findConstructor div.finder_office_order_select_city{
    width: 280px;
}

#idFind .findConstructor div.finder_office_order_loader,
.findConstructor div.finder_office_order_loader{
    padding-left: 124px;
    padding-top: 149px;
}


#idFind .findConstructor div.finder_office_order_loader img,
.findConstructor div.finder_office_order_loader img{
    border: 0px;
}    

#idFind .findConstructor div.finder_office_order_select_office > div:first-of-type,
.findConstructor div.finder_office_order_select_office > div:first-of-type{
    width: 280px;
    height: 230px;
    overflow-y:scroll;
    float: left;
    padding: 10px;
}  

#idFind .findConstructor div.finder_office_order_select_office > div:first-of-type > div,
.findConstructor div.finder_office_order_select_office > div:first-of-type > div{
    cursor: pointer;
}    

#idFind .findConstructor div.finder_office_order_select_office hr,
.findConstructor div.finder_office_order_select_office hr{
    border: 1px dotted silver;
    margin: 0px;
}


#idFind .findConstructor div.finder_office_order_select_office .selected_office,
.findConstructor div.finder_office_order_select_office .selected_office{
    background-color: gainsboro;
}


#idFind .findConstructor div.finder_office_order_select_name,
.findConstructor div.finder_office_order_select_name{
    font-weight: bold;
}  

#idFind .findConstructor div.finder_office_order_select_sender,
.findConstructor div.finder_office_order_select_sender{
    float: left;
    overflow: hidden;
    width: 0px;
    padding-left: 15px;
}    

#idFind .findConstructor div.finder_office_order_select_sender > div,
.findConstructor div.finder_office_order_select_sender > div{
    margin-top: 10px;
} 

#idFind .findConstructor div.finder_office_order_select_sender input.ng-invalid.ng-dirty,
.findConstructor div.finder_office_order_select_sender input.ng-invalid.ng-dirty{
    border-color: red;
}   

#idFind .findConstructor.finder_office_order,
.findConstructor.finder_office_order{
    width: auto;
}

#idFind .findConstructor .finder_office_order_select_submit button:disabled,
.findConstructor .finder_office_order_select_submit button:disabled{
    color:  silver;
}

#idFind .findConstructor .finder_office_order_select_sender label,
.findConstructor .finder_office_order_select_sender label{
    width: 60px;
    display: block;
    float: left;
}

#idFind .findConstructor .finder_office_order_select_sender input,
.findConstructor .finder_office_order_select_sender input{
    float: left;
}

#idFind .findConstructor .finder_office_order_select_sender > div,
.findConstructor .finder_office_order_select_sender > div{
    height: 20px;
}

#idFind .findConstructor .finder_office_order_select_sender > div:last-of-type,
.findConstructor .finder_office_order_select_sender > div:last-of-type{
    height: 40px;
}

#idFind .findConstructor .finder_office_sended,
.findConstructor .finder_office_sended{
    background-color: white;
    margin: 15px;
    padding: 30px;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid white;
    color: black;
}

#idFind .findConstructor .preloader, 
.findConstructor .preloader{
    opacity: 0.3;
    background-color: white;
    background-position: center center;
    position: absolute;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
}





#idFind .findConstructor .rt-thump,
.findConstructor .rt-thump{
    height: 100px;
    width: 140px;
    border: 2px solid #E0E0E0;
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
}

#idFind .findConstructor .rt-slides-container,
.findConstructor .rt-slides-container {
    width:144px;
    height:104px;
    overflow:hidden;
    position:relative;
}

#idFind .findConstructor .rt-paginator,
.findConstructor .rt-paginator {
    background:#555;
    padding:5px
}

#idFind .findConstructor .rt-paginator span.arr,
.findConstructor .rt-paginator span.arr{
    color:#777;
    border: 1px solid #777;
    padding:5px;
    margin: 2px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

#idFind div.findConstructor .rt-paginator span,
div.findConstructor .rt-paginator span {
    color:#aaa;
    font:13px Verdana, Arial, Sans-Serif !important;
}


.angular-google-map-container { 
    height: 360px; 
}