<div ng-if="loaderMessage">{{ loaderMessage }}</div>

<img ng-src='{{ rootPath }}img/ajax-loader.gif' ng-if='counter'>
<div class='finder_loader_counter' ng-if='counter'>{{ counter }}</div>
<div class='cleaner'></div>   