<div class="finder_form finder_form_visas" ng-controller="TourFinderVisasCtrl" ng-init="search={}; filter={}">                       
    <div class="finder_form_top">   
        
        

        <div class="finder_form_departure_city finder_form_left">
            
            <div class="finder_form_label">
                <label for="finder_form_country">Страна</label>
            </div>

            <div class="finder_form_control">
                <select id="finder_form_country" 
                        ng-if="countries.length"
                        ng-init="search.country = countries[0].key"
                        ng-model="search.country"                         
                        ng-change="setDefaultCity(); $root.view = 'form'"
                        ng-options="country.key as country.name for country in countries"                                                
                ></select>
            </div>    
                        
        </div>

        <div class="finder_form_country finder_form_right">
            
            <div class="finder_form_label">
                <label for="finder_form_departure_city">Город подачи</label>
            </div>
            <div class="finder_form_control">
                <select id="finder_form_departure_city"
                        ng-model="search.city" 
                        ng-if="countries.length && search.country"
                        ng-init="search.city = (countries|filter:{key: search.country})[0].cities[0].key"
                        ng-options="city.key as city.name for city in (countries|filter:{key: search.country})[0].cities"
                        ng-change="$root.view='form'"
                ></select>
            </div>                                        
        </div>        
    </div>
    
    <div ng-if="rates.usd" class="finder_form_left rates">
        <span class="rate">Курс</span>: <span class="sign">$</span> = {{ rates.get('usd') }} <span class="sign">€</span> = {{ rates.get('eur') }} <span class="sign">£</span> = {{ rates.get('gbp') }}
    </div>

    <div class="write_a_letter">
        Не можете что-либо найти? - <a href="mailto:bron3@rosstour.ru" style="color:grey;">напишите</a> нам
    </div>
    
    <div class="cleaner"></div>
</div>