<div class="finder_form finder_form_spo" ng-controller="TourFinderSpoCtrl" ng-init="search={}; filter={}">                       
    <div class="finder_form_top">   

        <div class="finder_form_departure_city finder_form_left">
            <div class="finder_form_label">
                <label for="finder_form_departure_city">Город вылета</label>
            </div>
            <div class="finder_form_control">
                <select><option>Без перелета</option></select>
            </div>    
        </div>

        <div class="finder_form_country finder_form_right">
            <div class="finder_form_label">
                <label for="finder_form_country">Страна</label>
            </div>

            <div class="finder_form_control">
                <select id="finder_form_country"
                        ng-model="$root.search.country"         
                        ng-if="countries.length"
                        ng-options="country.key as country.name for country in (countries | orderBy:'name')"                                                
                ></select>
            </div>    
        </div>

       
        <div class="finder_form_dates finder_form_left">
            <div class="finder_form_label">
                <label for="finder_form_departure_date">Дата вылета</label>
            </div>

            <div class="finder_form_control">
                <input type="text" 
                       ui-date-format="dd.mm.yy" 
                       ng-change="checkDates('from');" 
                       ng-model="$root.filter.date_from" 
                       ui-date="{changeYear: true, yearRange:'+0:+1', minDate: 0}"                                
                       jquery-mask="99.99.9999"
                > 
                - 
                <input type="text"                        
                       ui-date-format="dd.mm.yy" 
                       ui-date="{changeYear: true, yearRange:'+0:+1', minDate: 0}" 
                       ng-change="checkDates('to');" 
                       ng-model="$root.filter.date_to"                    
                       jquery-mask="99.99.9999"
                > 
            </div>            
        </div>

        
        <div class="finder_form_spotype finder_form_right">
            <div class="finder_form_label">
                <label for="finder_form_spotype">Тип тура</label>
            </div>

            <div class="finder_form_control" ng-init="$root.spo_default_type = 'Все'">
                <select ng-model="$root.filter.spotype"      
                        ng-init="$root.filter.spotype=$root.spo_default_type;"
                        ng-options="type for type in ([$root.spo_default_type].concat(types))"
                ></select>              
            </div>          
        </div>
        
        <div class="finder_form_spotype finder_form_left finder_form_spocurrency">
            <div class="finder_form_label">
                <label for="finder_form_currency">Валюта</label>
            </div>

            <div class="finder_form_control">
                <select ng-model="$root.filter.currency"                                            
                        ng-options="label.k as label.v for label in rates.cyrilic" 
                        ng-init="$root.filter.currency='rur'"
                ></select>
            </div>          
        </div>
        
        <div class="finder_form_spotype finder_form_right finder_form_city">
            <div class="finder_form_label">
                <label for="finder_spoform_city">Город</label>
            </div>

            <div class="finder_form_control" ng-init="$root.spo_default_town = 'Все'">
                <select ng-model="$root.filter.town"      
                        ng-init="$root.filter.town=$root.spo_default_town;"
                        ng-options="city for city in ([$root.spo_default_town].concat(spo_cities))"
                ></select>      
            </div>          
        </div>        
        
        <div ng-if="rates.usd" class="finder_form_left rates">
            <span class="rate">Курс</span>: <span class="sign">$</span> = {{ rates.get('usd') }} <span class="sign">€</span> = {{ rates.get('eur') }} <span class="sign">£</span> = {{ rates.get('gbp') }}
        </div>

        <div class="write_a_letter">
            Не можете что-либо найти? - <a href="mailto:bron3@rosstour.ru" style="color:grey;">напишите</a> нам
        </div>
        
    </div>    
    
    <div class="cleaner"></div>
</div>