<div class="finder_results">
    <div class="finder_loader" ng-if="!application" ng-controller="TourFinderLoaderCtrl" ng-include src="'finder_loader'"></div> 
    
    <div 
        class="finder_list" 
        ng-if="view == 'hotels'"
        ng-include 
        src="'finder_hotels'"
        ng-controller="TourFinderHotelsCtrl"
    ></div>   
    
    <div ng-if="view == 'flights'" 
        ng-include 
        src="'finder_flights'" 
        class='finder_list' 
        ng-controller="TourFinderFlightsCtrl"
    ></div>
    
    <div 
        ng-if="view == 'spo_list'"
        ng-include 
        src="'finder_spo_list'"
        ng-controller="TourFinderSpoListCtrl"
    ></div>  
    
    <div 
        ng-if="view == 'visa'"
        ng-include 
        src="'finder_visa'"
        class="finder_visatext"
    ></div> 
    
    <div 
        ng-if="view == 'transfer_list' || view == 'excursions_list'"
        ng-include 
        src="'finder_transfer_list'"
    ></div>  
    
    <div class="finder_about" ng-if="view == 'hotels' || view=='flights'">
        <div class="finder_about_label">Ваше путешествие</div>
        <div class="finder_about_data">
            <b>{{ getCityName() }}, {{ selectedCountry.name }}</b><br>
            Вылет: <b>{{ search.date_from }}</b><br>
            Возврат: <b>{{ search.date_to }}</b><br>
            {{ classes[search.class] }} класс<br>
            Прилет и заселение: <b>{{ flights.find[0].origin[0][0].ArrivalDate }} {{ flights.find[0].origin[0][0].ArrivalTime }}</b><br>
            
            <b ng-init="nights = getDuration(search.date_from, search.date_to) ">{{ nights }}</b> 
            <ng-pluralize count="[11,12,13,14].indexOf(nights) != -1 ? nights : nights%10" when="{ 
                          '1': 'ночь', 
                          '2': 'ночи', 
                          '3': 'ночи', 
                          '4': 'ночи', 
                          'other': 'ночей' }" ></ng-pluralize>, 
            
            <b ng-init="numbers = search['adults[]'].length">{{ numbers }}</b> <ng-pluralize 
                count="[11,12,13,14].indexOf(numbers) != -1 ? numbers : numbers%10" 
                when="{ 
                    '1': 'номер', 
                    '2': 'номера', 
                    '3': 'номера', 
                    '4': 'номера', 
                    'other': 'номеров' }" ></ng-pluralize><br>
            
            <b ng-init="people = getPeopleQuantity()">{{ people }}</b> <ng-pluralize 
                count="[11,12,13,14].indexOf(people) != -1 ? people : people%10" 
                when="{ 
                    '1': 'турист', 
                    '2': 'туриста', 
                    '3': 'туриста', 
                    '4': 'туриста', 
                    'other': 'туристов' }" ></ng-pluralize>     
            <div class="finder_new_search">
                <button ng-click="newSearch()">Изменить</button>  
            </div>    
        </div>
    </div>  


    <div class='finder_filter' ng-if="view == 'hotels' || view=='flights'">
        <div class='finder_filter_label'>
            Фильтр
        </div>

        <div class='finder_filter_item'>
            <input ng-model='filter.query' type='text' placeholder='Поиск отеля'>
        </div>    

        <div class='finder_filter_stars'>
            <div class='finder_filter_stars_label'>
                Категория отеля
            </div>
            <div class='finder_filter_stars_data'>
                <input type='checkbox' 
                       ng-repeat-start="star in hotels_filters.star | orderBy:'key'" 
                       ng-model="filter['star[]'][$index]"                                    
                       ng-true-value="{{star.key}}" 
                       ng-false-value=""
                       id='star_filter{{ $index }}'>
                <label for='star_filter{{ $index }}'>{{ star.label }}</label>
                <br ng-repeat-end>                                
            </div>
        </div>    

        <div class='finder_filter_meal'>
            <div class='finder_filter_meal_label'>
                Питание
            </div>
            <div class='finder_filter_meal_data'>
                <input type='checkbox' 
                       ng-repeat-start="meal in hotels_filters.food | orderBy: 'label'"
                       ng-model="filter['meal[]'][$index]" 
                       ng-true-value="{{meal.key}}" 
                       ng-false-value=""
                       
                       id='meal_filter{{ $index }}'>
                <label for='meal_filter{{ $index }}'>{{ meal.key == 'NN' ? meal.name:meal.key }}</label>
                <br ng-repeat-end>         
            </div>                                                
        </div>
        
        <div class='finder_filter_submit'>
            <button ng-click='filterHotels()'>Выбрать</button>
        </div>

    </div>
    
    <div class="cleaner"></div>
    <div class='preloader'> </div>    
</div>
