<div class='finder_assortment' ng-if="hotels.find.length">
    <div class='finder_assortment_label'>
        Подбор отеля
    </div>
    <div class='finder_assortment_sorting'>                                           
        <div class='finder_assortment_sorting_options'>
            <div ng-class="sorting=='pricemin' ? 'active': ''" ng-click="changeSorting('pricemin')"> 
                <div>Цена</div> 
                <span ng-class="reverse ? 'reverse' : ''"> </span>
            </div>          
            <div ng-class="sorting=='name' ? 'active' : ''" ng-click="changeSorting('name')">
                <div>Наименование</div> 
                <span ng-class="reverse ? 'reverse' : ''"> </span>
            </div>            
            <div ng-class="sorting=='starcode' ? 'active' : ''" ng-click="changeSorting('starcode')">
                <div>Звездность</div> 
                <span ng-class="reverse ? 'reverse' : ''"> </span>
            </div>             
        </div>        
        <div class='finder_assortment_sorting_label'>Сортировать:&nbsp;</div>
        <div class='cleaner'></div>
    </div>
    <div class='finder_assortment_filter'>
        <div class="finder_assortment_filter_letters">
            <div ng-repeat="l in letters" ng-class="letter==l ? 'active' : ''" ng-click="selectLetter(l)">{{ l }}</div>
            <div ng-class="!letter ? 'active' : ''" ng-click="selectLetter(0)">Все</div>
            <div class='cleaner'></div>
        </div>    
        <div class="finder_assortment_filter_label">Фильтр по названию:&nbsp;</div>
    </div>
    <div class='cleaner'></div>
</div>

<div class='finder_result_item' ng-repeat-start="hotel in (hotels.find | filter: byLetter).slice(page*20, page*20+19)">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <div class='finder_hotel_data'>
                    <div class="finder_hotel_photo">

                        <rl-carousel ng-include src="'finder_carousel'" images="{{ hotel.image }}"></rl-carousel>

                    </div>    
                    <div class='finder_hotel_name'>{{ hotel.name }}, {{ hotel.starname }}</div>
                    <div class='finder_hotel_address'>
                        <span style="border-bottom: 1px dashed silver; cursor: pointer;" ng-click="openMap(hotel)">
                            {{ hotel.address | cut:true:30}}
                        </span>                        
                    </div>
                    <div class="finder_hotel_phone">{{ hotel.phone }}</div>
                    <div class='finder_hotel_description'>{{ hotel.description | cut:true:160 }}</div>    
                </div>
            </td>
            <td rowspan="2" style="vertical-align: bottom;">
                <div class='finder_hotel_price'>                            
                    Авиаперелет <br><b>{{ calculateFlight() }}</b> {{ getCurrencyName() }}<br>
                    <span class='finder_hotel_price_plus'>+</span><br>
                    Отель <br><b>{{ calculateHotelRoomsPrice($index) }}</b> {{ getCurrencyName() }}
                    <div class='finder_hotel_sum'>
                        Итого<br>    
                        <span>{{ calculateHotelFlight($index) }} {{ getCurrencyName() }}</span>
                    </div> 
                    <div class="finder_order">
                        <button ng-click="Order($index)">Заказать</button>  
                    </div>    
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class='finder_flight'>
                    <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="vertical-align:top">
                            <div class='finder_flight_logo'>
                                <div>перелёт</div>
                                <img ng-src="{{ selectedFlight.origin[0][0].OperatingAirlineLogo }}" width="100" height="30">
                            </div>
                        </td>
                        <td style="vertical-align:top">
                            <div class='finder_flight_direction' ng-repeat="flight in selectedFlight.origin">
                                <div class='finder_flight_date'>
                                    {{ flight[0].DepartureDate }}
                                </div>
                                <div class='finder_flight_connect'>
                                    {{ flight.length==1?'прямой рейс':'с пересадкой' }}
                                </div>              
                                <div class='finder_flight_points'>
                                    {{ flights.iata[ flight[0].DepartureAirport ][1] }} &mdash; 
                                    {{ flights.iata[ flight[flight.length-1].ArrivalAirport ][1] }}
                                </div>
                                <div class='cleaner'></div>
                            </div>  
                        </td>
                    <tr>
                    <tr>
                        <td style="vertical-align:top;" colspan="2">
                            <div class="finder_flight_data">
                                <button ng-click="FlightData()">Подробнее</button>  
                            </div>    
                            <div class="finder_change_flight">
                                <button ng-click="ChangeFlight($index)">Другой рейс</button>  
                            </div>                                                            
                        </td>
                    <tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <table class='finder_hotel_rooms' ng-init="rooms_by_index = getRoomsByNumbers($index); hideRooms=true; show_more=false;">
        <tbody>                                
            <tr ng-repeat-start='rooms in rooms_by_index' class='finder_hotel_rooms_title'>                                    
                <td class='finder_hotel_room_meal'><span ng-if='!$index'>питание</span></td>
                <td class='finder_hotel_room_appartment'><span ng-if='!$index'>номер</span></td>               
                <td class='finder_hotel_room_available'><span ng-if='!$index'>статус номера</span></td>
                <td class='finder_hotel_room_price'>{{ getRoomAdultChildren($index) }}</td>
            </tr>  

            <tr ng-repeat="room in rooms" 
                ng-hide="$index>1 && $parent.$parent.hideRooms" 
                ng-init="$parent.$parent.show_more = ($parent.$parent.show_more ? true : rooms.length>2);"
            >
                <td>{{ room.mealname }}</td>
                <td>{{ room.roomname }}</td>              
                <td>{{ room.status == "AV" ? 'автобронирование' : 'по запросу' }}</td>
                <td>
                    <input type='radio' 
                           name="hotel_{{ getHotelIndexForPage($parent.$parent.$index) }}_{{ $parent.$index }}" 
                           ng-model="selectedRooms[getHotelIndexForPage($parent.$parent.$index)][$parent.$index]"
                           ng-value="$index"
                    >
                </td>                                
            </tr>                
            <tr ng-repeat-end></tr>  
            
            <tr ng-if='show_more' ng-show='$parent.hideRooms'>
                <td colspan='4' class="finder_form_show_more">
                    Имеются другие варианты проживания в этом отеле 
                    <button ng-click="$parent.hideRooms = !$parent.hideRooms">показать</button> 
                </td>
            </tr>              
        </tbody>        
    </table>    
</div>    
<hr ng-repeat-end ng-if="!$last" class="finder_hotels_delimiter">

<div ui-dialog 
    title="Описание перелета"                
    open="{{ dialogOpen }}" 
    hide-close-button='0'
    width='860'     
    class="finder_form_dialog"
    height='auto' 
    close-on-escape='1'
    handle-close="handleDialogClose"
    >
    <div ng-include src="'finder_flight_data'" class='findConstructor'></div>    
</div>

<div ui-dialog
    title="Расположение отеля {{ mapHotelname }}"                
    open="{{ showMap }}" 
    hide-close-button='0'
    width='860'     
    class="finder_form_dialog"
    height='400' 
    close-on-escape='1'
    handle-close="handleMapDialogClose"
    >
    <google-map ng-if="map.center" center="map.center" zoom="map.zoom">
        <marker coords="map.center" idkey="xxx" >
        </marker>
    </google-map>    
</div>


<div ui-dialog
     title="Заказ тура"
     open="{{ application }}"
     height="auto"
     width="860"     
     close-on-escape='1'
     handle-close="handleOrderClose" 
     ng-if="selectedHotel"
>
    <div ng-include src="'finder_order'" 
         class='findConstructor finder_list finder_order' 
         ng-controller="TourFinderOrderCtrl"
    ></div>
</div>

<finder-pager ng-include src="'finder_pager'"  ng-if="hotels.find.length"></finder-pager>   

<div ng-if="!hotels.find.length">Ничего не найдено. Измените параметры поиска.</div>