<table class="finder_spo_list" ng-init="$root.filter.sposort = 'town'">
    <thead ng-if="spo_filtered">
        <tr>
            <th><a href="" ng-click="$root.filter.sposort = 'town'">Город</a></th>
            <th><a href="" ng-click="$root.filter.sposort = 'name'">Название тура</a></th>
            <th><a href="" ng-click="$root.filter.sposort = 'tip'">Тип тура</a></th>
            <th>Вылеты</th>
            <th><a href="" ng-click="$root.filter.sposort = 'price'">Цена от</a></th>
            <th>Программа {{ getUniqueCities() }}</th>
            
        </tr>
    </thead>  
    <tbody>                
        <tr ng-repeat='tour in getFilteredList() | orderBy:$root.filter.sposort' ng-class-odd="'odd'">
            <td>{{ tour.town }}</td>
            <td ng-bind-html="tour.name"></td>
            <td>{{ tour.tip }}</td>
            <td>с {{ tour.begin }} по {{ tour.end }}</td>
            <td class="spo_price">
                <span ng-if="tour.price!='0' && rates">
                    {{ rates.convert(tour.price, tour.rate, $root.filter.currency) }}
                </span> 
                <span ng-if="tour.price == '0'">
                    по запросу
                </span>    
            </td>
            <td class="finder_spo_doc">
                <span ng-if="tour.file">
                    <a href="{{ tour.file }}">
                        <img src="http://sn.rosstour.ru/wp-content/themes/ross/img/doc.gif">
                    </a>
                </span>
            </td>
            <td>
                <button ng-click="brone($index)">Забронировать</button>
            </td>
        </tr>
    </tbody>    
    <tfoot ng-if="!spo_filtered">
        <tr>
            <td colspan="6">Ничего не найдено</td>
        </tr>
    </tfoot>    
</table>



<div ui-dialog 
    title="Бронирование экскурсионного тура"                
    open="{{ broneDialog }}" 
    hide-close-button='0'
    width='860'     
    class="finder_form_dialog"
    height='auto' 
    close-on-escape='1'
    handle-close="handleSpoOrderClose"
    >
    <div ng-include src="'finder_spo_order'" class='findConstructor'></div>
</div>