<form ng-controller="TourFinderSpoOrderCtrl" ng-submit='submitOrder()'>
    
    <div class="finder_spo_tourists" ng-init="spo_order.people = [{}]">
        <div class="finder_spo_tourist_data" ng-repeat-start="tourist in spo_order.people">
            <div class="finder_spo_tourist_fio_latin">
                <div class="finder_spo_tourist_label">
                    ФИО(латиницей):
                </div>
                <div class="finder_spo_tourist_control">
                   <input type="text" ng-model="tourist.fio_latin" ng-keyup="latinOnly($event)" required="required">
                </div>
            </div>
            
            <div class="finder_spo_tourist_fio_cyrillic">
                <div class="finder_spo_tourist_label">
                    ФИО(кириллицей):
                </div>
                <div class="finder_spo_tourist_control">
                   <input type="text" ng-model="tourist.fio_cyrillic" ng-keyup="cyrillicOnly($event)" required="required">
                </div>
            </div>
            
            <div class="finder_spo_tourist_gender">
                <div class="finder_spo_tourist_label">
                    Пол:
                </div>
                <div class="finder_spo_tourist_control" ng-init="genders = [{label:'Мужской'},{label:'Женский'}]">
                   <select ng-model="tourist.gender"
                           ng-options="gender.label as gender.label for gender in genders"
                           ng-init="tourist.gender=genders[0].label"
                   ></select>
                </div>
            </div>
            
            <div class="finder_spo_tourist_birth">
                <div class="finder_spo_tourist_label">
                    Дата рождения:
                </div>
                <div class="finder_spo_tourist_control">
                   <input type="text"  
                          required="required" 
                          ng-model="tourist.birth" 
                          ui-date-format="dd.mm.yy" 
                          ui-date="{maxDate: 0}" 
                          jquery-mask="99.99.9999"
                   >
                </div>
            </div>
            
            <div class="finder_spo_tourist_passport">
                <div class="finder_spo_tourist_label">
                    Загран. паспорт:
                </div>
                <div class="finder_spo_tourist_control">
                   <input type="text" ng-model="tourist.passport_series"  required="required">
                   <input type="text" ng-model="tourist.passport_number"  required="required">
                </div>
            </div>
            
            <div class="finder_spo_tourist_passport_expire">
                <div class="finder_spo_tourist_label">
                    Годен до:
                </div>
                <div class="finder_spo_tourist_control">
                   <input type="text" 
                          ng-model="tourist.passport_expire" 
                          ui-date-format="dd.mm.yy" 
                          ui-date="{minDate: 0, yearRange:'+0:+10'}" 
                          required="required" 
                          jquery-mask="99.99.9999"
                    >
                </div>
            </div>
            <div class="cleaner"></div>
        </div>
        <div class="cleaner" ng-repeat-end></div>
    </div>
    
    <div class="cleaner"></div>
    
    <div class='finder_spo_tourist_add'>
        <button ng-click='spo_order.people.pop()' ng-if="spo_order.people.length>1">Удалить туриста</button>
        <button ng-click='spo_order.people.push({})'>Добавить туриста</button>
    </div>
    
    <div class="cleaner"></div>
    
    <div class='finder_spo_details' ng-if='selectedSpo'>
        
        <div class="finder_spo_details_left">
        
            <div class='finder_spo_details_country '>           
                    Страна: {{ (countries| filter: {key: search.country})[0].name }}
            </div>

            <div class='finder_spo_details_city'>            
                    Город: {{ selectedSpo.town }}
            </div>

            <div class='finder_spo_details_city'>            
                    Тип тура: {{ selectedSpo.tip }}
            </div>

            <div class='finder_spo_details_city'>            
                    Название: {{ plainName() }}
            </div>                                                  
        </div>    
        <div class="finder_spo_details_right">

            <div class='finder_spo_details_departure'>            
                <div class="finder_spo_details_label">
                    <label for="finder_spo_details_departure">Дата</label>
                </div>
                <div class="finder_spo_details_control">
                    с <input type="text"  
                           required="required" 
                           id="finder_spo_details_departure_from" 
                           ng-model="spo_order.departure_from" 
                           ui-date-format="dd.mm.yy" 
                           ui-date="{minDate: 0, changeYear: true, yearRange:'+0:+1'}" 
                           jquery-mask="99.99.9999"
                    > 

                    по <input type="text"  
                           required="required" 
                           id="finder_spo_details_departure_to" 
                           ng-model="spo_order.departure_to" 
                           ui-date-format="dd.mm.yy" 
                           ui-date="{minDate: 0, changeYear: true, yearRange:'+0:+1'}"
                           jquery-mask="99.99.9999" 
                    >
                </div>
                <div class="cleaner"></div>
            </div>

            <div class='finder_spo_details_duration'>            
                <div class="finder_spo_details_label">
                    <label for="finder_spo_details_duration">Количество ночей</label>
                </div>
                <div class="finder_spo_details_control">
                    <input type="text" id="finder_spo_details_duration" ng-model="spo_order.duration" required="required">
                </div>
                <div class="cleaner"></div>
            </div>

            <div class='finder_spo_details_stars' ng-init="stars = ['1*','2*','3*','4*','5*']">            
                <div class="finder_spo_details_label">
                    <label for="finder_spo_details_star">Звездность отеля</label>
                </div>
                <div class="finder_spo_details_control">
                    <select id="finder_spo_details_stars" 
                            ng-model="spo_order.stars" 
                            ng-init="spo_order.stars=stars[2]"
                            ng-options="star as star for star in stars"
                    ></select>
                </div>
                <div class="cleaner"></div>
            </div>    

            <div class='finder_spo_details_hotel'>            
                <div class="finder_spo_details_label">
                    <label for="finder_spo_details_hotel">Название отеля</label>
                </div>
                <div class="finder_spo_details_control">
                    <input id="finder_spo_details_hotel" ng-model="spo_order.hotel" type="text">
                </div>
                <div class="cleaner"></div>
            </div>    

            <div class='finder_spo_details_meal'>            
                <div class="finder_spo_details_label">
                    <label for="finder_spo_details_meal">Питание</label>
                </div>
                <div class="finder_spo_details_control">
                    <select id="finder_spo_details_meal" 
                            ng-model="spo_order.meal" 
                            ng-init="spo_order.meal=(spo_meal|filter:{'id':'23'})[0]['alias']"
                            ng-options="option.alias as option.alias for option in spo_meal"
                    ></select>
                </div>
                <div class="cleaner"></div>
            </div>

            <div class='finder_spo_details_allocation' ng-init="allocations = [
                'SNG - 1 ADULT',                     
                'DBL - 2 ADULT', 
                'DBL SNG USE - 1 ADULT', 
                'DBL - 1 ADULT + 1CHILD', 
                'DBL+EXB - 2 ADULT + 1 CHILD',
                'DBL+EXB - 3 ADULT', 
                'DBL+2EXB - 2 ADULT + 2 CHILD',
                'TRPL - 3 ADULT', 
                'TRPL+EXB - 4 ADULT', 
                'QDRPL - 4 ADULT']">            
                <div class="finder_spo_details_label">
                    <label for="finder_spo_details_allocation">Размещение</label>
                </div>
                <div class="finder_spo_details_control" >
                    <select id="finder_spo_details_allocation" 
                            ng-model="spo_order.allocation" 
                            ng-init="spo_order.allocation=allocations[0]"
                            ng-options="placement as placement for placement in allocations"
                    ></select>
                </div>
                <div class="cleaner"></div>
            </div>
            
            <div class='finder_spo_details_price'>                
                <div class="finder_spo_details_label">
                    <label for="finder_spo_details_price">Цена, {{ selectedSpo.rate }}</label>
                </div>
                <div class="finder_spo_details_control" >
                    <input id="finder_spo_details_price" ng-model="spo_order.price" type="text" ng-init="spo_order.price = selectedSpo.price">
                </div>
                
            </div>    
                           
        </div>                          
        
        <div class='finder_spo_details_comment'>            
            <div class="finder_spo_details_label">
                <label for="finder_spo_details_comment">Комментарий</label>
            </div>
            <div class="finder_spo_details_control">
                <textarea ng-model="spo_order.comment" id="finder_spo_details_comment" cols="110" rows='2'></textarea>
            </div>
        </div>   
        
        <div class="cleaner"></div>
        
        <button class="finder_spo_order_submit" type="submit">Отправить</button>  
        <div class="cleaner"></div>
        
    </div>    
</form>    
<form action="http://online-rosstour.ru/searchForm/process/constructor.php" 
      method="POST" 
      ng-hide="true" 
      id="spo_order_hash" 
      name="spo_order_hash"
      ><input type="text" name="spo_hash" ng-model="spo_hash" value="spo_hash"></form>