<div class="flight_details">
    <table class="finder_flight_data">
        <tbody>
            <tr>
                <td colspan="6">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="border:0;padding:0" valign="bottom">
                                    <b>Перелет #1</b>
                                </td>
                                <td style="border:0;padding:0" align="right">
                                    Ответственный перевозчик: <b>{{ selectedFlight.carrier }}</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Авиакомпания</td>
                <td>Вылет</td>
                <td>Прилет</td>
                <td>№Рейса</td>
                <td>В пути</td>
                <td>Класс</td>
            </tr>
            <tr ng-repeat='passage in selectedFlight.origin[0]' class='finder_flights_item_data'>
                <td width="100" class="rt-while">
                    <img ng-src="{{ passage.OperatingAirlineLogo }}" width="100" height="30" title="{{flights.airlines[ selectedFlight.carrier ][0]}}">
                </td>
                <td class="rt-while" title="{{ flights.iata[ passage.DepartureAirport ][0] }}">
                    {{ flights.iata[ passage.DepartureAirport ][1] }} ({{ passage.DepartureAirport }})
                    <br>
                    <b>{{ passage.DepartureTime }}</b> {{ passage.DepartureDate }}
                </td>
                <td class="rt-while" title="{{ flights.iata[ passage.ArrivalAirport ][0] }}">
                    {{ flights.iata[ passage.ArrivalAirport ][1] }} ({{ passage.ArrivalAirport }})<br>
                    {{ passage.ArrivalTime }} {{ passage.ArrivalDate }}
                </td>
                <td class="rt-while">
                    <nobr>{{ passage.OperatingAirline }} {{ passage.OperatingFlightNumber }}</nobr>
                    <br>
                    Борт:{{ passage.AirEquipType }}
                </td>
                <td class="rt-while">{{ formatTime( passage.ElapsedTime ) }}</td>
                <td class="rt-while">
                    {{ flights.classbrone[passage.OperatingAirline + passage.ResBookDesigCode][2] }} ({{ passage.ResBookDesigCode }})
                    <br>{{ passage.Meal }}</td>
            </tr>

            <tr>
                <td colspan="6">
                    <b>Перелет #2</b>
                </td>
            </tr>
            <tr ng-repeat='passage in selectedFlight.origin[1]' class='finder_flights_item_data'>
                <td width="100" class="rt-while">
                    <img ng-src="{{ passage.OperatingAirlineLogo }}" width="100" height="30" title="{{flights.airlines[ selectedFlight.carrier ][0]}}">
                </td>
                <td class="rt-while" title="{{ flights.iata[ passage.DepartureAirport ][0] }}">
                    {{ flights.iata[ passage.DepartureAirport ][1] }} ({{ passage.DepartureAirport }})
                    <br>
                    <b>{{ passage.DepartureTime }}</b> {{ passage.DepartureDate }}
                </td>
                <td class="rt-while" title="{{ flights.iata[ passage.ArrivalAirport ][0] }}">
                    {{ flights.iata[ passage.ArrivalAirport ][1] }} ({{ passage.ArrivalAirport }})<br>
                    {{ passage.ArrivalTime }} {{ passage.ArrivalDate }}
                </td>
                <td class="rt-while">
                    <nobr>{{ passage.OperatingAirline }} {{ passage.OperatingFlightNumber }}</nobr>
                    <br>
                    Борт:{{ passage.AirEquipType }}
                </td>
                <td class="rt-while">{{ formatTime( passage.ElapsedTime ) }}</td>
                <td class="rt-while">
                    {{ flights.classbrone[passage.OperatingAirline + passage.ResBookDesigCode][2] }} ({{ passage.ResBookDesigCode }})
                    <br>{{ passage.Meal }}</td>
            </tr>
        </tbody>
    </table>  
</div>    