<a ng-if="visatext.url" ng-href="{{visatext.url}}&print=1" target="_blank" style="float:right;">Распечатать</a>
<div style="clear: both;"></div>
<div ng-bind-html="visatext.text" ng-if="visatext"></div>