
<div ng-if="!sended">
    <div class="finder_office_order_select_city">
        <select ng-if="offices_data" 
                ng-model="data.city" 
                ng-init="data.city=(offices_data.cities | filter:{c:true})[0].ID" 
                ng-change="selectCity()"
                ng-options="x.ID as x.NAME for x in offices_data.cities"
        ></select>
    </div>

    <div class="finder_office_order_loader" ng-if="!offices_data">
        <img src="http://finder.ross-tur.ru/main/official/img/loader.gif"></img>
    </div>

    <div class="finder_office_order_select_office" ng-if="offices_data">
        <div>
            <div ng-repeat-start="(k,office) in offices_data.offices" ng-click="selectOffice(k)" ng-class="k===selectedOfficeIndex?'selected_office':''">
                <div class="finder_office_order_select_name">{{ office.NAME }}</div>
                <div class="finder_office_order_select_address">{{ office.ADDRESS }}</div>
                <div class="finder_office_order_select_phone">{{ office.PHONE }}</div>
                <div class="finder_office_order_select_metro" ng-if="office.METRO">{{ office.METRO }}</div>
            </div>
            <hr ng-if="!$last" ng-repeat-end>
        </div>    
        <div class="cleaner"></div>
    </div>
</div>    

<div ng-if="sended" class='finder_office_sended'>{{ sended }}</div>


