<form method="POST" action="http://online-rosstour.ru/ext_sabre_hotel.php">    
    <input type='hidden' name='comment' value='{{ order.comment }}'>
    <input type='hidden' name='gde-avia-sum-RUB' value="{{ calculateFlight('RUB') }}">
    <input type='hidden' name='gde-bonuscard' value='{{ order.bonuscard }}'>
    <input type='hidden' name='gde-charset' value="UTF-8">
    <input type='hidden' name='gde-cost' value='{{ sum_hotel_currency }}'>
    <input type='hidden' name='gde-cost-RUR' value='{{ sum_hotel_rur }}'>
    <input type="hidden" name="gde-cost-in-select-currency" value="{{ sum_hotel_rur }}">
    <input type="hidden" name="gde-course-EUR" value="{{ hotels.courses.EUR }}">
    <input type="hidden" name="gde-course-GBP" value="{{ hotels.courses.GBP }}">
    <input type="hidden" name="gde-course-USD" value="{{ hotels.courses.USD }}">
    <input type="hidden" name="gde-email" value="{{ orderType=='ort' ? 'avia3@rosstour.ru' : order.email }}">
    <input type="hidden" name="gde-from-city-id" value="{{ search.city }}" >
    <input type="hidden" name="gde-from-city-name" value="{{ (cities | filter:{key: search.city})[0].name }}">
    <input type="hidden" name="gde-from-date" value="{{ search.date_from }}">
    <input type="hidden" name="gde-to-date" value="{{ search.date_to }}">
    <input type="hidden" name="gde-fuel-adult" value="{{ getPeopleQuantity('adults') }}">
    <input type="hidden" name="gde-fuel-child" value="{{ getPeopleQuantity('children') }}">
    <input type="hidden" name="gde-fuel-infant" value="0">
    <input type="hidden" name="gde-hotel" value="{{ selectedHotel.name }}">
    <input type="hidden" name="gde-hotel-and-avia" value="{{ calculateHotelFlight(selectedHotelIndex,selectedHotel.currency) }}"> 
    <input type="hidden" name="gde-hotel-sum" value="{{ calculateHotelRoomsPrice(selectedHotelIndex,selectedHotel.currency) }}">
    <input type="hidden" name="gde-hotel-sum-RUR" value="{{ calculateHotelRoomsPrice(selectedHotelIndex, 'RUR') }}">
    <input type="hidden" name="gde-hotel-valute" value="{{ selectedHotel.currency }}">
    <input type="hidden" name="gde-meal" value="{{ getRoomsData('meal') }}">
    <input type="hidden" name="gde-night" value="{{ getDuration() }}">
    <input type="hidden" name="gde-oper-alais" value="ROS">
    <input type="hidden" name="gde-oper-id" value="{{ selectedHotel.oper }},1">
    <input type="hidden" name="gde-oper-name" value="{{ hotels.opers[ selectedHotel.oper ][0] }},Sabre">
    <input type="hidden" name="gde-phone" value="88001009930">
    <input type="hidden" name="gde-room" value="{{ getRoomsData('name') }}">
    <input type="hidden" name="gde-spo" value="HOTEL+AVIA">
    <input type="hidden" name="gde-star" value="{{ selectedHotel.starname }}">
    <input type="hidden" name="gde-strah-sum" value="{{ calculateInsuranceVisas(selectedHotel.currency, 'insurance') }}">
    <input type="hidden" name="gde-strah-sum-RUR" value="{{ calculateInsuranceVisas('RUR', 'insurance') }}">
    <input type="hidden" name="gde-strah-valute" value="{{ selectedHotel.currency }}">
    <input type="hidden" name="gde-to-city-id" value="{{ search.airport }},{{ search.living }}">
    <input type="hidden" name="gde-to-city-name" value="{{ getCityName() }},{{ getAirportName() }}">
    <input type="hidden" name="gde-to-country-id" value="{{ search.country }}">
    <input type="hidden" name="gde-to-country-name" value="{{ selectedCountry.name }}">
    <input type="hidden" name="gde-type" value="9">
    <input type="hidden" name="gde-valute" value="{{ selectedHotel.currency }}">
    <input type="hidden" name="gde-visa-adult" value="0">
    <input type="hidden" name="gde-visa-child" value="0">
    <input type="hidden" name="gde-visa-sum" value="{{ calculateInsuranceVisas(selectedHotel.currency, 'visa') }}">
    <input type="hidden" name="gde-visa-sum-RUR" value="{{ calculateInsuranceVisas('RUR', 'visa') }}">
    <input type="hidden" name="gde-visa-valute" value="{{ selectedHotel.currency }}">
    <input type="hidden" name="gde-who-send-brone" value="manager">
    <input type="hidden" name="rt-LastDayWithoutPenality" value="{{ cancellation.LastDayWithoutPenality }}">
    <input type="hidden" name="rt-LastDayWithoutPenalityCurrency" value="{{ cancellation.LastDayWithoutPenalityCurrency }}">
    <input type="hidden" name="rt-LastDayWithoutPenalityFromDate" value="{{ cancellation.LastDayWithoutPenalityFromDate }}">
    <input type="hidden" name="rt-LastDayWithoutPenalityToDate" value="{{ cancellation.LastDayWithoutPenalityToDate }}">
    <input type="hidden" name="rt-LastDayWithoutPenalityType" value="{{ cancellation.LastDayWithoutPenalityType }}">
    <input type="hidden" name="rt-LastDayWithoutPenalityValue" value="{{ cancellation.LastDayWithoutPenalityValue }}">
    
    <input type="hidden" ng-repeat-start="person in order.people" name="gde-f-eng[{{ $index+1 }}]" value="{{ person.lastname }}">
    <input type="hidden" name="gde-sex[{{ $index+1 }}]" value="{{ person.gender }}">    
    <input type="hidden" name="gde-tourist-born[{{ $index+1 }}]" value="{{ person.birth }}">   
    <input type="hidden" name="gde-tourist-pass[{{ $index+1 }}]" value="{{ person.passport }}">    
    <input type="hidden" name="gde-tourist-passdateto[{{ $index+1 }}]" value="{{ person.passport_date }}">        
    <input type="hidden" name="gde-i-eng[{{ $index+1 }}]" value="{{ person.firstname }}" ng-repeat-end>
    
    
    <input type="hidden" ng-repeat="room in getRoomsData('quantity') track by $index" name="gde-tourist-room[{{ $index+1 }}]" value="1">    
    
    <input type='hidden' value='{{ flights.sid }}' name='gde-sessionid-avia'>
    <input type='hidden' value='{{ hotels.sessionid }}' name='gde-sessionid-hotel'>
    
    <input type='hidden' value='{{ order.phone }}' name='phone' ng-if="order.phone">
    <input type='hidden' value='{{ order.sender }}' name='sender' ng-if="order.sender">
    <input type='hidden' value='{{ order.email }}' name='email' ng-if="order.email">    
    
    <input type="hidden" name="action" value="extSessionTourist" ng-if="orderType=='client'">
  
    
    <table class='finder_orderform'>
	<tbody>
            <tr>
                <td class='orange' colspan="2">Отель</td>
            </tr>
            <tr>
                <td>
                    {{ selectedHotel.name }}, {{ selectedHotel.starname }} ({{ getCityName() }}, {{ selectedCountry.name }})<br>
                    <div class="finder_order_room" ng-repeat="room in rooms">
                        Комната №{{ $index+1 }}: {{ room.roomname }}, {{ room.mealname }}
                    </div>
                    Заселение: {{ selectedFlight.origin[0][selectedFlight.origin[0].length-1].ArrivalDate }}, 
                    {{ getLivingTerm() }}, {{ getPeopleQuantity() }} турист{{ getEnd(getPeopleQuantity()) }}                   
                </td>
                <td class="finder_order_summary" style="vertical-align: top;">итого <span>{{ sum_hotel_currency }}</span> {{ selectedHotel.currency }}<br>{{ sum_hotel_rur }} RUR</td>
            </tr>
            <tr>
                <td class="orange" colspan="2">Туристы</td>
            </tr>
            <tr>
                    <td colspan="2" id="order-turist">                        
                        <table class="finder_order_persons">
                            <tbody>
                                <tr>
                                    <td>#</td>
                                    <td>Фамилия анг.</td>
                                    <td>Имя анг.</td>
                                    <td>Пол</td>
                                    <td>Дата рождения</td>
                                    <td>Загранпаспорт</td>
                                    <td>Годен до</td>
                                    <td>Мед.</td>
                                    <td title="Подача документов в Визовых центрах и Консульствах">Виза</td>
                                    <td title="Подача документов в Визовых центрах и Консульствах">Консульство</td>
                                </tr>
                                <tr ng-repeat-start="room in rooms">
                                    <td class="orange" colspan="9">Комната №{{ $index+1 }}</td>
                                </tr>                                
                                <tr ng-repeat="human in getCollectionForRoom(room)">
                                    <td ng-init="index = getPeopleIndex($parent.$index, $index)" class="finder_order_person_number">
                                        {{ human }}
                                    </td>
                                    <td class="finder_order_person_lastname">
                                        <input type="text" ng-model="order.people[index].lastname" ng-keyup="latinOnly($event)" >
                                    </td>
                                    <td class="finder_order_person_firstname">
                                        <input type="text" ng-model="order.people[index].firstname" ng-keyup="latinOnly($event)">
                                    </td>
                                    <td class="finder_order_person_sex">
                                        <select ng-model="order.people[index].gender">
                                            <option value="m">Мужской</option>
                                            <option value="w">Женский</option>
                                        </select>
                                    </td>
                                    <td class="finder_order_person_birth">
                                        <input type="text" 
                                               ui-date-format="dd.mm.yy" 
                                               ui-date="{maxDate: 0}" 
                                               ng-model="order.people[index].birth" 
                                               ng-change="calculateHotelFlightInsuranceVisa()" 
                                               jquery-mask="99.99.9999"
                                        >
                                    </td>
                                    <td class="finder_order_person_passport">
                                        <input type="text" ng-model="order.people[index].passport" jquery-mask="99-9999999">
                                    </td>
                                    <td class="finder_order_person_passport_date">
                                        <input type="text" 
                                               ng-model="order.people[index].passport_date" 
                                               ui-date-format="dd.mm.yy" 
                                               ui-date="{minDate: 0, yearRange:'+0:+10'}" 
                                               jquery-mask="99.99.9999"
                                        >
                                    </td>
                                    <td class="finder_order_person_insurance">
                                        <input type="checkbox" 
                                               ng-model="order.people[index].insurance"
                                               ng-true-value="1" 
                                               ng-false-value=""    
                                               ng-change="calculateHotelFlightInsuranceVisa()">
                                    </td>
                                    <td class="finder_order_person_visa">
                                        <input type="checkbox" 
                                               ng-model="order.people[index].visa" 
                                               ng-disabled="{{ hotels.getvisacost.length==0 }}"
                                               ng-change="checkVisaAgreement(index); calculateHotelFlightInsuranceVisa();" 
                                               ng-true-value="on" 
                                               ng-false-value=""
                                        >
                                    </td>
                                    <td class="finder_order_person_visa">
                                        <select ng-model="order.people[index].visacity" 
                                                ng-init="order.people[index].visacity=findVisaCity()" 
                                                ng-disabled="{{ hotels.getvisacost.length==0 }}"
                                                ng-change="calculateHotelFlightInsuranceVisa()" 
                                                ng-options="i as city.cityname for (i, city) in hotels.getvisacost"
                                        ></select>
                                    </td>
                                </tr>
                                <tr ng-repeat-end=""></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="orderType!='ort'">    
                <tr>
                    <td class="orange" colspan="2"><label for="finder_order_comment">Контактное лицо</label></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="finder_order_sender">
                            <tbody>
                                <tr>
                                    <td>Имя</td>
                                    <td>Телефон</td>
                                    <td>E-mail</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><input type="text" ng-model="order.sender"></td>
                                    <td><input type="text" ng-model="order.phone" jquery-mask="+7(999)999-99-99"></td>
                                    <td><input type="email" ng-model="order.email"></td>
                                    <td></td>
                                </tr>    
                            </tbody> 
                        </table>    
                    </td>
                </tr>
            </tbody>
            <tbody>    
                <tr>
                    <td class="orange" colspan="2"><label for="finder_order_comment">Коментарий</label></td>
                </tr>
                <tr>
                    <td colspan="2" class="finder_order_comment">
                        <textarea ng-model="order.comment" id="finder_order_comment"></textarea>
                        <div class="cleaner"></div>
                    </td>
                </tr>
                <tr>
                    <td class="orange" colspan="2">Карта "РоссТур Бонус" (если есть)</td>
                </tr>
                <tr>
                    <td colspan="2" class='finder_order_bonuscard'>
                        <input type="text" ng-model="order.bonuscard" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">   
                        <div class="orange">Авиаперелет</div>   
                        <div ng-include src="'finder_flight_data'"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="orange"><br>Особенности бронирования номера в этом отеле</div>                        
                        <div class="finder_order_cancellation">
                            <div ng-if="cancellation">
                                <div ng-if="cancellation.LastDayWithoutPenalityValue">
                                    Отмена брони бесплатно не позже чем {{ cancellation.LastDayWithoutPenality.replace('-','.') }}. 
                                    В дальнейшем до даты заезда штраф 
                                    {{ cancellation.LastDayWithoutPenalityValue }} {{ cancellation.LastDayWithoutPenalityCurrency }} 
                                    ({{ cancellation.LastDayWithoutPenalityType }}). Особенности уточните у менеджера.
                                </div>
                                <div ng-if="!cancellation.LastDayWithoutPenalityValue">
                                    Нет данных об условиях отмены бронирования
                                </div>    
                            </div>      
                            <div ng-if="!cancellation">
                                Загружаются условия отмены бронирования
                            </div>    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="finder_order_loader">
                        <div class="finder_loader" ng-controller="TourFinderLoaderCtrl" ng-include src="'finder_loader'" ng-if="loaderMessage"></div>                         
                    </td>
                </tr>    
                <tr>
                    <td align="center" colspan="2" class="finder_order_submit">
                        <br>
                        <div ng-if="!needConfirmation">
                            <button type="button" 
                                    ng-click="sendOrder('ort')" 
                                    ng-if="orderType=='ort'" 
                                    ng-disabled="counter"
                                    class="finder_order_submit_ort">Заказать</button>

                            <button type="button" 
                                    ng-click="sendOrder('office')" 
                                    ng-if="orderType=='client'" 
                                    ng-disabled="counter"
                                    class="finder_order_submit_client">Отправить заявку в ближайший офис</button>

                            <button 
                                    type="button" 
                                    ng-click="sendOrder('pay')" 
                                    ng-if="orderType=='client'" 
                                    ng-disabled="counter"
                                    class="finder_order_submit_client">Забронировать прямо сейчас и оплатить картой Visa, MasterCard
                            </button>
                            <div ng-if="orderType=='client'">
                                Бронирование туров для агентств осуществляется через <a href="" ng-click="sendOrder('agency');">Личный Кабинет Агента</a>
                            </div>    
                        </div>
                        <div class="finder_order_confirmation" ng-if="needConfirmation">
                            <button ng-click="checkPassportData(needConfirmation)"
                                    type="button"
                            >Продолжить</button>
                            <button ng-click="handleOrderClose()" 
                                    type="button" 
                            >Отказаться</button>
                        </div>
                        
                    </td>
                </tr>               
            </tbody>
        </table>
    </form> 

    
    <div 
        ui-dialog
        title="Наши офисы"
        open="{{ chooseOffice }}"
        hide-close-button='1'
        handle-close="handleOfficesDialogClose" 
        height="330"
        width="auto"
    >    
        <div ng-controller="TourFinderOfficeOrderCtrl" ng-include src="'finder_office_order'" class="findConstructor finder_office_order"></div>
    </div>
    
    <div 
        ui-dialog 
        title="Доп. соглашение по визам"                
        open="{{ visaAgreementDialogOpen }}" 
        hide-close-button='0'
        width='600'
        height='auto'
        close-on-escape='1' 
        class="finder_form_dialog"
        handle-close="handleVisaAgreementDialogClose"
        ok-button='Согласен'
        ok-callback='visaAgreementConfirm'
        cancel-button='Не согласен'
        cancel-callback='visaAgreementReject'
    >
        <h1>Для продолжения бронирования,<br/>вы должны принять условия соглашения</h1>
        <p style='margin: 5px 0;'>
            1. В случае, если АГЕНТ предоставляет документы на Визу  в офис ТУРФИРМЫ для передачи пакета документов туроператору, 
            он обязан  в 100 % размере оплатить заявку, соблюдать сроки подачи документов за 24 часа в будни и за 3 дня, 
            если крайний срок сдачи в понедельник. АГЕНТ может сдавать документы на визу как  в офис ТУРФИРМЫ, 
            так и в офис самого  Туроператора (при наличии представительства Туроператора). 
            При самостоятельной сдаче документов ТУРОПЕРАТОРУ АГЕНТ должен  получить доверенность у куратора заявки в ТУРФИРМЕ для ТУРОПЕРАТОРА.
        </p> 
        <p style='margin: 5px 0;'>
            2. Документы на оформление Визы должны быть сданы АГЕНТОМ только полным пакетом, с приложением описи всех документов в двух экземплярах. 
            Сотрудник ТУРФИРМЫ  заполняет только те документы, которые доступны под паролем ТУРФИРМЫ.  
            Визовый отдел ТУРФИРМЫ  может оказать помощь в оформлении документов АГЕНТУ, стоимость на одного человека - 300 (Триста) руб., оплата за услугу включается  в стоимость  заявки.
        </p>
        <p style='margin: 5px 0;'>
            3. В случае нарушения АГЕНТОМ сроков подачи документов на визу, он несет полную финансовую ответсвенность, претензий к ТУРФИРМЕ АГЕНТ не имеет.
        </p>        
    </div>

    <div 
        ui-dialog                    
        open="{{ isAgencyOrder }}" 
        hide-close-button='0'
        width='300'
        height='auto'
        close-on-escape='1' 
        class="finder_form_dialog"
        handle-close="handleIsAgencyOrderDialogClose"
        ok-button='Перейти'
        ok-callback='agencyOrderConfirm'
        cancel-button='Назад'
        cancel-callback='handleIsAgencyOrderDialogClose'
    >
        Бронирование туров для агенств осуществляется через <b>Личный Кабинет Агента</b>
    </div>