<div style="position:relative" ng-if="countries">
    
    <div class="finder_form_search_type">
        <div class="finder_form_label">
            <button ng-class="{finder_form_active: search.type=='constructor'}" ng-click="clearRtSources(); search.type='constructor'; $root.view = 'form'">Отель + перелет</button>
        </div>

        <div class="finder_form_label">
            <button  ng-class="{finder_form_active: search.type=='spo'}" ng-click="clearRtSources(); search.type='spo'; $root.view = 'form';">Экскурсионные туры</button>
        </div>
        
        <div class="finder_form_label">
            <button  ng-class="{finder_form_active: search.type=='excursions'}" 
                     ng-click="search.type='excursions'; $root.view = 'excursions_list'; $root.excursions()"
            >Экскурсии</button>
        </div>

        <div class="finder_form_label">
            <button  ng-class="{finder_form_active: search.type=='transfer'}" 
                     ng-click="search.type='transfer'; $root.view = 'transfer_list'; $root.transfer()"
            >Трансферы</button>
        </div>
        
        <div class="finder_form_label">
            <button ng-class="{finder_form_active: search.type=='visas'}" ng-click="clearRtSources(); search.type='visas'; $root.view = 'form';">Визы</button>
        </div>                
    </div>
    
    <div class="cleaner"></div>
       
    <div ng-include src="'finder_'+search.type+'_form'"></div>
    
    <div class="finder_form_submit" ng-if="$root.view != 'transfer_list' && $root.view != 'excursions_list' && search.type != 'excursions' && search.type != 'transfer'">        
        <div class="finder_form_submit_button">
            <button ng-click="search.type == 'spo' ? $root.startSpoSearch() : (search.type == 'visas' ? getVisaText() : $root.startConstructorSearch())" ng-class="flights === true && hotels===false ? 'active':''">
                Поиск
            </button>    
        </div>            
    </div>
    
    <div class='preloader'> </div>
</div>                             