<div class="finder_form finder_form_constructor" ng-controller="TourFinderConstructorCtrl">                       
    <div class="finder_form_top">   

        <div class="finder_form_departure_city finder_form_left">
            <div class="finder_form_label">
                <label for="finder_form_departure_city">Город вылета</label>
            </div>
            <div class="finder_form_control">
                <select id="finder_form_departure_city"
                        ng-model="$root.search.city" 
                        ng-options="city.key as city.name for city in cities | orderBy:'name'"
                ></select>
            </div>    
        </div>

        <div class="finder_form_country finder_form_right">
            <div class="finder_form_label">
                <label for="finder_form_country">Страна</label>
            </div>

            <div class="finder_form_control">
                <select id="finder_form_country"
                        ng-model="search.country"                         
                        ng-options="country.key as country.name for country in (countries | orderBy:'name')"
                        ng-init="search.country=selectedCountry.key"
                        ng-change="selectCountry();"
                ></select>
            </div>    
        </div>

        <div class="finder_form_airport finder_form_left">
            <div class="finder_form_label">
                <label for="finder_form_airport">Город прилета</label>
            </div>
            <div class="finder_form_control">
                <select id="finder_form_airport"
                        ng-model="search.airport" 
                        ng-options="l.0 as l.1+' ('+l.0+')' for l in (selectedCountry.airports | orderBy:'1')"
                >                           
                </select>    
            </div>
        </div>

        <div class="finder_form_city finder_form_right">
            <div class="finder_form_label">
                <label for="finder_form_city">Город проживания</label>
            </div>
            <div class="finder_form_control">
                <select id="finder_form_city" 
                        ng-model="search.living" 
                        ng-options="l.0 as l.1 for l in (selectedCountry.cities | orderBy:'1' )"
                >                               
                </select>    
            </div>   
        </div>

        <div class="finder_form_departure finder_form_left" ng-init="times = [
            {k: 'ALL', v:'Время вылета любое'},
            {k: 'MORNING', v: 'Утро (06:00 - 12:00)'},
            {k: 'AFTERNOON', v: 'День (12:00 - 18:00)'}, 
            {k: 'EVENING', v: 'Вечер (18:00 - 00:00)'}, 
            {k: 'NIGHT', v: 'Ночь (00:00 - 06:00)'}]">
            <div class="finder_form_label">
                <label for="finder_form_departure_date">Дата вылета</label>
            </div>

            <div class="finder_form_control">
                <input type="text" 
                       id="finder_form_departure_date"
                       ui-date-format="dd.mm.yy" 
                       ng-model="search.date_from" 
                       ui-date="{changeYear: true, yearRange:'+0:+1', minDate: 0}" 
                       ng-required="true" 
                       ng-init="search.date_from=getDateAdjustedByDays(1)"
                       ng-change="$root.view='form'; checkDates('from');" 
                       jquery-mask="99.99.9999"
                > 
            </div>

            <div class="finder_form_control">
                <select ng-model="search.time_from" 
                        ng-init="search.time_from='ALL'" 
                        ng-options="time.k as time.v for time in times"
                >    
                </select>    
            </div>    
        </div>

        <div class="finder_form_arrival finder_form_right">
            <div class="finder_form_label">
                <label for="finder_form_arrival_date">Дата возврата</label>
            </div>

            <div class="finder_form_control">
                <input type="text" 
                       id="finder_form_arrival_date"
                       ui-date-format="dd.mm.yy" 
                       ui-date="{changeYear: true, yearRange:'+0:+1', minDate: 0}" 
                       ng-model="search.date_to" 
                       ng-required="true"
                       ng-init="search.date_to=getDateAdjustedByDays(8)"
                       ng-change="$root.view='form'; checkDates('to');"
                       jquery-mask="99.99.9999"
                > 
            </div>
            
            <div class="finder_form_control">
                <select ng-model="search.time_to" 
                        ng-init="search.time_to='ALL'" 
                        ng-options="time.k as time.v for time in times">                           
                </select>    
            </div>
        </div>

        <div class="cleaner"></div>
    </div>


    <div class="finder_form_bottom">
        <div class="finder_form_flight_class finder_form_left">
            <div class="finder_form_label">
                Класс перелета
            </div>    

            <div class="finder_form_control" ng-repeat-start="class in classes">
                <input ng-init='search.class=0'                             
                       type="radio" 
                       ng-model="search.class" 
                       ng-value="$index" 
                       id="finder_form_flight_class_{{ $index }}"
                >
            </div>
            <div class="finder_form_label" ng-repeat-end>
                <label for="finder_form_flight_class_{{ $index }}">
                    {{ class }}
                </label>                            
            </div> 
        </div>  

        <div class="finder_form_transfer finder_form_right">
            <div class="finder_form_control">
                <input type="checkbox" 
                       ng-model="search.noconnect" 
                       id="finder_form_transfer" 
                       ng-true-value="1" 
                       ng-false-value="0">
            </div>

            <div class="finder_form_label">
                <label for="finder_form_transfer">Без пересадок</label>    
            </div>
        </div> 

        <div class="finder_form_best_price finder_form_right">                       
            <div class="finder_form_control">
                <input type="checkbox" 
                       ng-model="search.best_price" 
                       id="finder_form_best_price" 
                       ng-true-value="1" 
                       ng-false-value="0"
                >
            </div>

            <div class="finder_form_label">
                <label for="finder_form_best_price">Поиск по лучшей цене, +/- 3 дня</label>                                
            </div>
        </div>

        <div class="finder_form_people finder_form_left" ng-repeat="item in search['adults[]'] track by $index">
            <div class="finder_form_label">
                <label for="finder_form_adults_{{$index}}">Взрослых</label>      
            </div>
            <div class="finder_form_control">
                <select id="finder_form_adults_{{$index}}"
                        ng-model="search['adults[]'][$index]" 
                        ng-options="x for x in [1,2,3,4,5,6,7,8,9]" 
                        ng-change="$root.view='form'"                            
                ></select> 
            </div>    

            <div class="finder_form_label finder_form_children">
                <span>Детей</span>
            </div>

            <div class="finder_form_control">
                <select ng-model="children[$index]" 
                        ng-options="y for y in [0,1,2,3]" 
                        ng-change="setAges($index); $root.view='form'"
                ></select> 
            </div>    

            <div class="finder_form_control">
                <button 
                    ng-class="{'finder_form_people_remove': $index, 'finder_form_people_add_disabled': !$index && search['adults[]'].length == 3, 'finder_form_people_add': !$index}" 
                    ng-click="($index ? removeRoom($index) : addRoom()) ; $root.view='form'"
                    ng-disabled="!$index && search['adults[]'].length == 3"
                >
                    <span> </span>
                    номер
                </button>
            </div>    

            <div class="finder_form_label finder_form_ages">
                <span ng-if="children[$index]">Возраст детей</span>
            </div>

            <div class="finder_form_control" ng-repeat="child in search['children[]'][$index] track by $index">
                <select ng-model="search['children[]'][$parent.$index][$index]"
                        ng-options="a for a in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]" ></select>                         
            </div>    
        </div>   



        <div class="finder_form_currency finder_form_left" ng-init="$root.currencies = {RUR:'Рубли',USD:'Доллар',EUR:'Евро',GBP:'Фунт'}">
            <div class="finder_form_label">
                <label for="finder_form_currency">Валюта</label>
            </div>

            <div class="finder_form_control" ng-init="$root.filter.currency='RUR'">
                <select id="finder_form_currency" 
                        ng-model="$root.filter.currency" 
                        ng-options="k as v for (k,v) in currencies"
                >                               
                </select>                
            </div>    
        </div>
        
        <div ng-if="rates.usd" class="finder_form_left rates">
                    <span class="rate">Курс</span>: <span class="sign">$</span> = {{ rates.get('usd') }} <span class="sign">€</span> = {{ rates.get('eur') }} <span class="sign">£</span> = {{ rates.get('gbp') }}
        </div>
        
        <div class="write_a_letter">
            Не можете что-либо найти? - <a href="mailto:bron3@rosstour.ru" style="color:grey;">напишите</a> нам
        </div>
        
        <div class="cleaner"></div>
    </div>
    
</div>