<div class="redlobsterCarousel rt-slides" id="rt-slides{{ $id }}}">
    <a name="rt-slides-ancor-{{ $id }}"></a>
    <table cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="border:0;margin:0;padding:0">
                    <a class="rt-prev" ng-href="#rt-slides-ancor-{{ $id }}">
                        <img width="24" height="43" alt="Arrow Prev" src="http://hotel.ross-tur.ru/img/arrow-prev.png">
                    </a>
                </td>
                <td style="border:0;margin:0;padding:0">
                    <div class="rt-slides-container">
                        <a target="_blank" ng-repeat="img in images track by $index " on-ng-repeat-finish="1" ng-href="{{ img }}">
                            <img width="140" 
                                 height="100" 
                                 alt="" 
                                 ng-src="http://hotel.ross-tur.ru/media/thump.php?w=140&h=100&src={{ img }}" class="rt-thump">
                        </a>
                     </div>
                </td>
                <td style="border:0;margin:0;padding:0">
                    <a class="rt-next" ng-href="#rt-slides-ancor-{{ $id }}">
                        <img width="24" height="43" alt="Arrow Next" src="http://hotel.ross-tur.ru/img/arrow-next.png">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
