<div class='finder_flights_select'>
    <div class='finder_flights_select_label'>
        Подбор авиарейса
    </div>
    <div class='finder_flights_select_cancel'>
        <button ng-click="showHotels()">Отмена</button>    
    </div>
    <div class='cleaner'></div>
</div>

<div ng-if="flights && flights.find.length" 
     ng-init="selected_here=0"
     ng-repeat="similar_key in getSimilarKeys().slice(page*20, page*20+19)" 
     class='finder_flights_item'
     
>   
    <table class="rt-result"            
           ng-repeat="flight in flightsBySimilar[similar_key]"           
           ng-hide="$index && similar_closed[ similar_key ] && i != selectedFlightIndex" 
           ng-init="similar_closed[ similar_key ] = true; i = flightsBySimilar[similar_key][$index].list_index;"
           ng-class="i == selectedFlightIndex ? 'selected_flight' : '' "
    >    
        <thead>
            <tr>
                <td colspan="7">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="border:0;padding:1px 0 0 0;" valign="bottom">
                                    <b>Перелет #1</b>
                                </td>
                                <td style="border:0;padding:0;" align="right" ng-init='flight_sum_difference = calculateFlightDifference( i ); difference.push(flight_sum_difference)'>
                                    <div ng-if='i == selectedFlightIndex' style="float:right;padding-left:5px;"><button ng-click="selectFlight(i)">                                   
                                        {{ "Выбрано" }}
                                    </button></div>
                                    <div ng-if='i == selectedFlightIndex' style="padding:7px 0 0 0;">Ответственный перевозчик: <b>{{ flight.carrier }}</b>, <b>{{ flight.oper }}</b></div>
                                    <div ng-if='i != selectedFlightIndex' style="float:right;padding-left:5px;"><button ng-click="selectFlight(i)">                                   
                                        {{ (flight_sum_difference > 0 ? ("Замена рейса +"+flight_sum_difference+" EUR") : "Минимальная цена") }}
                                    </button></div>
                                    <div ng-if='i != selectedFlightIndex' style="padding:7px 0 0 0;">Ответственный перевозчик: <b>{{ flight.carrier }}</b>, <b>{{ flight.oper }}</b></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Авиакомпания</td>
                <td>Вылет</td>
                <td>Прилет</td>
                <td>№Рейса</td>
                <td>В пути</td>
                <td>Класс</td>
                <td>Мест</td>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat='passage in flight.origin[0]' class='finder_flights_item_data'>
                <td width="100" class="rt-while">
                    <img ng-src="{{ passage.OperatingAirlineLogo }}"  width="100" height="30" title="{{flights.airlines[ flight.carrier ][0]}}">
                </td>
                <td class="rt-while" title="{{ flights.iata[ passage.DepartureAirport ][0] }}">
                    {{ flights.iata[ passage.DepartureAirport ][1] }} ({{ passage.DepartureAirport }})
                    <br>
                    <b>{{ passage.DepartureTime }}</b> {{ passage.DepartureDate }}
                </td>
                <td class="rt-while" title="{{ flights.iata[ passage.ArrivalAirport ][0] }}">
                    {{ flights.iata[ passage.ArrivalAirport ][1] }} ({{ passage.ArrivalAirport }})<br>
                    {{ passage.ArrivalTime }} {{ passage.ArrivalDate }}
                </td>
                <td class="rt-while">
                    <nobr>{{ passage.OperatingAirline }} {{ passage.OperatingFlightNumber }}</nobr>
                    <br>
                    Борт:{{ passage.AirEquipType }}
                </td>
                <td class="rt-while">{{ formatTime( passage.ElapsedTime ) }}</td>
                <td class="rt-while">
                    {{ flights.classbrone[passage.OperatingAirline + passage.ResBookDesigCode][2] }} ({{ passage.ResBookDesigCode }})
                    <br>{{ passage.Meal }}</td>
                <td class="rt-while">{{ passage.SeatsRemaining }}</td>
            </tr>

            <tr>
                <td colspan="7">
                    <b>Перелет #2</b>
                </td>
            </tr>
             <tr ng-repeat='passage in flight.origin[1]'  class='finder_flights_item_data'>
                <td width="100" class="rt-while">
                    <img ng-src="{{ passage.OperatingAirlineLogo }}" width="100" height="30" title="{{flights.airlines[ flight.carrier ][0]}}">
                </td>
                <td class="rt-while" title="{{ flights.iata[ passage.DepartureAirport ][0] }}">
                    {{ flights.iata[ passage.DepartureAirport ][1] }} ({{ passage.DepartureAirport }})
                    <br>
                    <b>{{ passage.DepartureTime }}</b> {{ passage.DepartureDate }}
                </td>
                <td class="rt-while" title="{{ flights.iata[ passage.ArrivalAirport ][0] }}">
                    {{ flights.iata[ passage.ArrivalAirport ][1] }} ({{ passage.ArrivalAirport }})<br>
                    {{ passage.ArrivalTime }} {{ passage.ArrivalDate }}
                </td>
                <td class="rt-while">
                    {{ passage.OperatingAirline }} {{ passage.OperatingFlightNumber }}
                    <br>
                    Борт:{{ passage.AirEquipType }}
                </td>
                <td class="rt-while">{{ formatTime( passage.ElapsedTime ) }}</td>
                <td class="rt-while">
                    {{ flights.classbrone[passage.OperatingAirline + passage.ResBookDesigCode][2] }} ({{ passage.ResBookDesigCode }})
                    <br>{{ passage.Meal }}
                </td>
                <td class="rt-while">{{ passage.SeatsRemaining }}</td>
            </tr>
        </tbody>        
    </table>
    <div ng-show="similar_closed[ similar_key ]" 
         ng-if="flightsBySimilar[similar_key].length > (1+selected_here)" 
         class="finder_form_show_more"
    >
        Имеются похожие рейсы на другое время вылета/прилета 
        <button ng-click="similar_closed[ similar_key ] = false">показать</button>               
   </div>
</div>

<finder-pager></finder-pager>   