<div class='finder_pager rt-paginator'>
      <table width="100%">
          <tbody>
              <tr>
                  <td align="left">
                      <table>
                          <tbody>
                              <tr>
                                  <td>
                                      <a ng-if='page' href="#prev" ng-click='toPage(page-1)'>&lt;предыдущая&nbsp;</a>
                                      <span ng-if='!page' class="arr">&lt;предыдущая&nbsp;</span>
                                  </td>

                                  <td ng-repeat='p in pages_list' ng-class="p.current ? 'current' : ''" >
                                      <span ng-if='p.current || p.decor'>{{ p.label }}</span>
                                      <a ng-if='!p.current && !p.decor' ng-click="toPage(p.key)" href="#{{ p.label }}">{{ p.label }}</a>
                                  </td>

                                  <td>
                                      <a ng-if='page < (pages-1)' ng-click="toPage(page+1)" href="#next">следующая&gt;</a>
                                      <span ng-if='page==(pages-1)' class="arr">следующая&gt;</span>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
                  <td align="right">
                      <span>
                          <nobr> найдено предложений: <br><b>{{ quantity }}</b> за <b>{{ time }}</b> сек. </nobr>
                      </span>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>  